{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <div class="col-auto col-sm-2 float-right ml-auto">
                        <form method="get" action="{% url 'finance:account_groups' %}">
                            <li class="list-inline-item">
                                <div class="input-group">
        
                                    <input name="q" type="text" placeholder="Search" value="{{ filter_data.q }}"
                                        class="form-control" />
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-soft-primary btn-sm"><i class="fas fa-search"></i></button>
                                    </span>
                                </div>
                            </li>
                        </form>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">

                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'finance:create_account_group' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Account Group</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Name </th>
                            <th>Group Type </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}
                        {% for account_group in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ account_group.name }}</td>
                            <td>{{ account_group.get_group_type_display }}</td>
                            <td class="text-right">

                                <a href="{% url 'finance:account_group' pk=account_group.pk %}"><i
                                        class="las la-eye text-info font-18"></i></a>
                                
                                {% if not account_group.code%}
                                <a href="{% url 'finance:edit_account_group' pk=account_group.pk %}"><i
                                    class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ account_group.pk }}" class="reload action-button remove"
                                    href="{% url 'finance:delete_account_group' pk=account_group.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% get_pages %}
                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock %}