{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
      <div class="row">
         <div class="col-sm-6">
            <h3 class="page-title">{{title|title}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">{{title|title}}</li>
            </ul>
         </div>
         <div class="col-auto float-right ml-auto">
            <h3 class="ah-label hidden-xs palette-White text">ID - {{instance.id}} - {{instance.name}}</h3>

            <ul class="personal-info row">
               <li class="col">
                  <a title="Create new Account Head" href="{% url 'finance:create_account_head' %}" class="btn btn-sm btn-soft-success">
                     <i class="las la-plus"></i>
                  </a>
               </li>

               {% if not instance.is_deleted and not instance.code %}
               <li class="col">
                  <a title="Edit Account Head" href="{% url 'finance:edit_account_head' pk=instance.pk %}" class="btn btn-sm btn-soft-warning">
                     <i class="las la-pen"></i>
                  </a>
               </li>
               <li class="col">
                  <a title="Delete Account Head" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}"
                     data-title="Are you sure?" href="{% url 'finance:delete_account_head' pk=instance.pk %}"
                     class="action-button redirect btn btn-sm btn-soft-danger">
                     <i class="las la-trash-alt"></i>
                  </a>
               </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <!-- /Page Header -->


   <div class="tab-content">
      <!-- Profile Info Tab -->
      <div id="emp_profile" class="pro-overview tab-pane fade show active">
         <div class="row">
            <div class=" col-6">
               <div class="card-header">
                  <h5>Basic Info <small></small></h5>
               </div>
               <div class="card-body">

                  <div class="list-group lg-alt c-overflow">
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Name</div>
                           <small class="lgi-text">{{instance.name}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Account Group</div>
                           <small class="lgi-text">{{instance.account_group}}</small>
                        </div>
                     </div>
                     {% if instance.bank_account.opening_balance %}
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Opening Balance</div>
                           <small class="lgi-text">{{instance.bank_account.opening_balance}}</small>
                        </div>
                     </div>
                     {% endif %}
                     {% if instance.bank_account.warehouse%}
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Warehouse</div>
                           <small class="lgi-text">{{instance.bank_account.warehouse}}</small>
                        </div>
                     </div>
                     {% endif %}
                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Creator </div>
                           <small class="lgi-text">{{instance.creator}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Updater </div>
                           <small class="lgi-text">{{instance.updater}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Date Created </div>
                           <small class="lgi-text">{{instance.date_added|date:"d/m/Y h:i A"}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Date Updated </div>
                           <small class="lgi-text">{{instance.date_updated|date:"d/m/Y h:i A"}}</small>
                        </div>
                     </div>

                  </div>

               </div>

            </div>

         </div>
      </div>
      <!-- /Profile Info Tab -->


   </div>
</div>
<!-- /Page Content -->

{% endblock %}