{% extends "web/informations/info_base.html" %}
{% block content %}
{% load static %}

        <section id="privacy-policy">
            <section class="wrapper">
                <div class="head">
                    <h2>About Us</h2>
                    <p class="p-i">
                        Nexsme Trading &amp; Contracting W.L.L (<a href="https://nexsme.qa/">nexsme.qa</a>), a Company registered in Qatar and promoting local/international
                        products and services. it stands for ‘Online Trading’ and ‘Marketing Activities’ through our Multi-channel selling
                        platform (Web, Mobile Apps).
                        <br /><br />
                        Nexsme.qa, Qatar's largest online marketplace, with the widest assortment of diverse product categories from national,
                        international brands and with the support of thousands of users and sellers. Now <a href="https://nexsme.qa/">nexsme.qa</a> is the shopping
                        destination for Internet users across the country and delivering the service everywhere in Qatar.
                        <br /><br />
                        Be it a manufacturer, vendor or supplier, simply sell your products online on <a href="https://nexsme.qa/">nexsme.qa</a> and become a top e-commerce
                        player with us. Through a team of experts offering exclusive seller workshops, training, seller support
                        and <a href="https://nexsme.qa/">nexsme.qa</a> focuses on educating and empowering sellers across Qatar. Selling on <a href="https://nexsme.qa/">nexsme.qa</a> is very easy. All you
                        need is to register, list your catalogue and start selling your products.
                    </p>
                <div class="item b-i">
                    <h3 class="p-h">Who We Serve :</h3>
                    <p class="p-i">
                        Congrats, you are one among them. We deliver your order at your door step. We do serve residences, Government entities, Offices, Schools, Hotels and Events and much more.
                    </p>
                </div>
                <div class="item b-i">
                    <h3 class="p-h">Our Inspiration</h3>
                    <p class="p-i">
                        The Internet is an amazing tool. It has the power to change the way we live, and we're <a href="https://Nexsme/">Nexsme</a> starting to see
                        that potential. With only a few mouse clicks, we can follow the updates, look up facts, buy goods and services.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">Our vision</h3>
                    <p class="p-i">
                        Is to be kerala's most customer-centric online shopping portal, to build an online marketplace where people can meet their requirements.
                    </p>
                </div>

                <div class="item  b-i">
                    <h3 class="p-h">Our Mission</h3>
                    <p class="p-i">
                        Is to be a permanent service provider in your busy life and stay prominent through offering our quality products & services.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">Our Values</h3>
                    <ul style="list-style: disc;margin-left: 30px;">
                        <li class="p-i">Integrity</li>
                        <li class="p-i">Teamwork</li>
                        <li class="p-i">Accountability</li>
                        <li class="p-i">Innovation</li>
                        <li class="p-i">Commitment</li>
                    </ul>
                </div>

                <div class="item  b-i">
                    <h3 class="p-h">Contact Us</h3>
                    <ul style="list-style: disc;margin-left: 30px;">
                        <li class="p-i">Customer Support - <a href="mailto:info@Nexsme">info@Nexsme</a></li>
                        <li class="p-i">CEO - <a href="mailto:fairoos@Nexsme">fairoos@Nexsme</a></li>
                        <li class="p-i">Accounts - <a href="mailto:accounts@Nexsme">accounts@Nexsme</a></li>
                        <li class="p-i">Careers - <a href="mailto:careers@Nexsme">careers@Nexsme</a></li>
                        <li class="p-i">Marketing - <a href="mailto:marketing@Nexsme">marketing@Nexsme</a></li>
                    </ul>
                </div>
            </section>
        </section>
{% endblock %}