{% extends "web/informations/info_base.html" %}
{% block content %}
{% load static %}

    <div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px; margin: 0 auto;">

        <div class="text-container">
            <span id="t1_1" class="t s0_1">Privacy Policy </span>
            <span id="t2_1" class="t s1_1">This privacy policy sets out how we uses and protects any information that you give Nexsme Bazar </span>
            <span id="t3_1" class="t s1_1">when you use this application. Nexsme Bazar is committed to ensuring that your privacy is </span>
            <span id="t4_1" class="t s1_1">protected. Should we ask you to provide certain information by which you can be identified when </span>
            <span id="t5_1" class="t s1_1">using this application, then you can be assured that it will only be used in accordance with this </span>
            <span id="t6_1" class="t s1_1">privacy statement. Nexsme Bazar may change this policy from time to time by updating this page. </span>
            <span id="t7_1" class="t s1_1">You should check this page from time to time to ensure that you are happy with any changes. </span>
            <span id="t8_1" class="t s1_1">Consent &amp; terms of this Privacy Policy </span>
            <span id="t9_1" class="t s1_1">By using our platform (application or services), you have voluntarily agreed to consent &amp; abide with </span>
            <span id="ta_1" class="t s1_1">this privacy policy. You have the option to disagree to abide by our privacy policy; if you choose </span>
            <span id="tb_1" class="t s1_1">disagree, you will not be able to access any portion of our platform or gain access to services </span>
            <span id="tc_1" class="t s1_1">provided on this platform. </span>
            <span id="td_1" class="t s1_1">What we collect </span>
            <span id="te_1" class="t s1_1">We may collect the following information: </span>
            <span id="tf_1" class="t s1_1">Name </span>
            <span id="tg_1" class="t s1_1">Contact information including email address </span>
            <span id="th_1" class="t s1_1">Demographic information such as postcode, preferences and interests </span>
            <span id="ti_1" class="t s1_1">Other information relevant to customer surveys and/or offers </span>
            <span id="tj_1" class="t s1_1">What we do with the information we gather </span>
            <span id="tk_1" class="t s1_1">We require this information to understand your needs and provide you with a better service, and in </span>
            <span id="tl_1" class="t s1_1">particular for the following reasons: </span>
            <span id="tm_1" class="t s1_1">Internal record keeping. </span>
            <span id="tn_1" class="t s1_1">We may use the information to improve our products and services. </span>
            <span id="to_1" class="t s1_1">We may periodically send promotional emails about new products, special offers or other </span>
            <span id="tp_1" class="t s1_1">information which we think you may find interesting using the email address which you have </span>
            <span id="tq_1" class="t s1_1">provided. </span>
            <span id="tr_1" class="t s1_1">From time to time, we may also use your information to contact you for market research purposes. </span>
            <span id="ts_1" class="t s1_1">We may contact you by email, phone, fax or mail. We may use the information to customise the </span>
            <span id="tt_1" class="t s1_1">website according to your interests. </span>
        </div>
        <!-- End text definitions -->
    </div>

    <div id="p2" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px; margin: 0 auto;">
        <div class="text-container">
            <span id="t1_2" class="t s0_2">Without identifying you personally we may use your information to provide updates on our service </span>
            <span id="t2_2" class="t s0_2">offerings and promotional schemes through third party advertising partners (‘TPAP’). Our TPAP may </span>
            <span id="t3_2" class="t s0_2">use cookies on our website as well as third party websites and social media platforms to understand </span>
            <span id="t4_2" class="t s0_2">customer interests to provide updates on our latest service offerings and promotional schemes that </span>
            <span id="t5_2" class="t s0_2">are akin to your interests. Our TPAP provide you with complete control over ads experience and you </span>
            <span id="t6_2" class="t s0_2">can remove ads shown to you. </span>
            <span id="t7_2" class="t s0_2">Security </span>
            <span id="t8_2" class="t s0_2">We are committed to ensuring that your information is secure. In order to prevent unauthorised </span>
            <span id="t9_2" class="t s0_2">access or disclosure, we have put in place suitable physical, electronic and managerial procedures to </span>
            <span id="ta_2" class="t s0_2">safeguard and secure the information we collect online. </span>
            <span id="tb_2" class="t s0_2">Controlling your personal information </span>
            <span id="tc_2" class="t s0_2">You may choose to restrict the collection or use of your personal information in the following ways: </span>
            <span id="td_2" class="t s0_2">whenever you are asked to fill in a form on the application, look for the box that you can click to </span>
            <span id="te_2" class="t s0_2">indicate that you do not want the information to be used by anybody for direct marketing purposes </span>
            <span id="tf_2" class="t s0_2">if you have previously agreed to us using your personal information for direct marketing purposes, </span>
            <span id="tg_2" class="t s0_2">you may change your mind at any time by writing to or emailing us at nexsmefuture@gmail.com </span>
            <span id="th_2" class="t s0_2">We will not sell, distribute or lease your personal information to third parties unless we have your </span>
            <span id="ti_2" class="t s0_2">permission or are required by law to do so. We may use your personal information to send you </span>
            <span id="tj_2" class="t s0_2">promotional information about third parties which we think you may find interesting if you tell us </span>
            <span id="tk_2" class="t s0_2">that you wish this to happen. </span>
            <span id="tl_2" class="t s0_2">You may request details of personal information which we hold about you under the Data Protection </span>
            <span id="tm_2" class="t s0_2">Act 1998. A small fee will be payable. If you would like a copy of the information held on you please </span>
            <span id="tn_2" class="t s0_2">write to us at nexsmefuture@gmail.com </span>
            <span id="to_2" class="t s0_2">If you believe that any information we are holding on you is incorrect or incomplete, please write to </span>
            <span id="tp_2" class="t s0_2">or email us as soon as possible, at the above address. We will promptly correct any information </span>
            <span id="tq_2" class="t s0_2">found to be incorrect. </span>
            <span id="tr_2" class="t s0_2">How can a user opt not to disclose information with FTH? </span>
            <span id="ts_2" class="t s0_2">You have the option of not disclosing Your Sensitive Personal Data or Information to Us. You can also </span>
            <span id="tt_2" class="t s0_2">ask us to remove your data from our database by sending a mail to us at </span>
            <span id="tu_2" class="t s0_2">customercare@freshtohome.com. In the event that you choose not to disclose Sensitive Personal </span>
            <span id="tv_2" class="t s0_2">Information, you may not be able to access multiple areas of the Platform or awail our e-commerce </span>
            <span id="tw_2" class="t s0_2">facility / services provided on the Platform. </span>
        </div><!-- End text definitions -->
    </div>

    <div id="p3" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px; margin: 0 auto;">
        <div class="text-container">
            <span id="t1_3" class="t s0_3">Marketing &amp; promotional activity </span>
            <span id="t2_3" class="t s0_3">FTH may use your information to provide you with better platform user-experience, send </span>
            <span id="t3_3" class="t s0_3">information on products and services which may be of interest to you, send via Short Messaging </span>
            <span id="t4_3" class="t s0_3">Services (SMS) marketing promotions, and share such personal information to our business partners </span>
            <span id="t5_3" class="t s0_3">on a need-to-know basis to render effective services for better customer experience. </span>
            <span id="t6_3" class="t s0_3">What is NDNC Policy? </span>
            <span id="t7_3" class="t s0_3">By using the Platform, you hereby authorize Us to contact You via email, phone, or SMS (Short </span>
            <span id="t8_3" class="t s0_3">Message Service), other applications (android or apple) linked to phone number on the contact </span>
            <span id="t9_3" class="t s0_3">details so provided, to furnish You with information about Our Products, Services, product delivery, </span>
            <span id="ta_3" class="t s0_3">marketing promotions, &amp; other allied services offered by FTH on its platform. This authorization is </span>
            <span id="tb_3" class="t s0_3">licit for the mentioned purposes irrespective of whether You are registered with the NDNC (National </span>
            <span id="tc_3" class="t s0_3">Do Not Call) registry. </span>
            <span id="td_3" class="t s0_3">Indemnity </span>
            <span id="te_3" class="t s0_3">You agree to indemnify and hold FTH harmless from:(i) any actions, claims, demands, suits, damages, </span>
            <span id="tf_3" class="t s0_3">losses, penalties, interest and other charges and expenses (including legal fees and other dispute </span>
            <span id="tg_3" class="t s0_3">resolution costs) made by any third party due to or arising out of any violation of the terms of this </span>
            <span id="th_3" class="t s0_3">Policy; (ii)any acts or deeds, including for any non-compliance or violation, of any applicable law, </span>
            <span id="ti_3" class="t s0_3">rules, regulations on Your part; or (iii) for violations committed by You. </span>
            <span id="tj_3" class="t s0_3">Governing Law &amp; Severability </span>
            <span id="tk_3" class="t s0_3">The invalidity or unenforceability of any part of this Policy shall not prejudice or affect the validity or </span>
            <span id="tl_3" class="t s0_3">enforceability of the remainder of this Policy. This Policy has been prepared under the provisions of </span>
            <span id="tm_3" class="t s0_3">the Indian Information Technology Act, 2000 (“IT Act”) and its corresponding rules as enshrined </span>
            <span id="tn_3" class="t s0_3">under the Information Technology (Reasonable Security Practices and Procedures and Sensitive </span>
            <span id="to_3" class="t s0_3">Personal Data or Information) Rules, 2011 (“IT Rules”) to monitor information (including sensitive </span>
            <span id="tp_3" class="t s0_3">personal data or information) collected, received, possessed, stored, dealt with, or handled by FTH. </span>
            <span id="tq_3" class="t s0_3">Grievances </span>
            <span id="tr_3" class="t s0_3">Should you have any grievances about the processing of your personal information or the privacy </span>
            <span id="ts_3" class="t s0_3">policy, you may contact: </span>
            <span id="tt_3" class="t s0_3">Arafa Traders </span>
            <span id="tu_3" class="t s0_3">Collage Road, Palode </span>
            <span id="tv_3" class="t s0_3">Phone: +91 9745020163 </span>
            <span id="tw_3" class="t s0_3">Email: nexsmefuture@gmail.com </span>
        </div><!-- End text definitions -->
    </div>

    <!-- Begin shared CSS values -->
    <style class="shared-css" type="text/css" >
        .t {
            transform-origin: bottom left;
            z-index: 2;
            position: absolute;
            white-space: pre;
            overflow: visible;
            line-height: 1.5;
        }
        .text-container {
            white-space: pre;
        }
        @supports (-webkit-touch-callout: none) {
            .text-container {
                white-space: normal;
            }
        }
        </style>
        <!-- End shared CSS values -->

        <!-- Begin inline CSS -->
        <style type="text/css" >
            #t1_1{left:110px;bottom:1146px;letter-spacing:0.16px;word-spacing:-0.07px;}
            #t2_1{left:110px;bottom:1107px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #t3_1{left:110px;bottom:1084px;letter-spacing:-0.08px;word-spacing:-0.02px;}
            #t4_1{left:110px;bottom:1060px;letter-spacing:-0.07px;word-spacing:-0.02px;}
            #t5_1{left:110px;bottom:1037px;letter-spacing:-0.08px;}
            #t6_1{left:110px;bottom:1013px;letter-spacing:-0.09px;word-spacing:0.03px;}
            #t7_1{left:110px;bottom:989px;letter-spacing:-0.09px;word-spacing:0.03px;}
            #t8_1{left:110px;bottom:911px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #t9_1{left:110px;bottom:873px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #ta_1{left:110px;bottom:849px;letter-spacing:-0.08px;}
            #tb_1{left:110px;bottom:826px;letter-spacing:-0.07px;}
            #tc_1{left:110px;bottom:802px;letter-spacing:-0.06px;word-spacing:-0.04px;}
            #td_1{left:110px;bottom:724px;letter-spacing:-0.09px;word-spacing:0.06px;}
            #te_1{left:110px;bottom:685px;letter-spacing:-0.08px;}
            #tf_1{left:110px;bottom:646px;letter-spacing:-0.07px;}
            #tg_1{left:110px;bottom:623px;letter-spacing:-0.08px;word-spacing:0.04px;}
            #th_1{left:110px;bottom:599px;letter-spacing:-0.08px;word-spacing:0.05px;}
            #ti_1{left:110px;bottom:576px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #tj_1{left:110px;bottom:513px;letter-spacing:-0.09px;word-spacing:0.05px;}
            #tk_1{left:110px;bottom:474px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tl_1{left:110px;bottom:451px;letter-spacing:-0.08px;}
            #tm_1{left:110px;bottom:373px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tn_1{left:110px;bottom:334px;letter-spacing:-0.08px;word-spacing:-0.03px;}
            #to_1{left:110px;bottom:295px;letter-spacing:-0.07px;word-spacing:-0.05px;}
            #tp_1{left:110px;bottom:272px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #tq_1{left:110px;bottom:248px;letter-spacing:-0.05px;}
            #tr_1{left:110px;bottom:209px;letter-spacing:-0.08px;word-spacing:-0.03px;}
            #ts_1{left:110px;bottom:186px;letter-spacing:-0.08px;word-spacing:-0.02px;}
            #tt_1{left:110px;bottom:162px;letter-spacing:-0.08px;word-spacing:0.03px;}

            #t1_2{left:110px;bottom:1153px;letter-spacing:-0.08px;word-spacing:-0.02px;}
            #t2_2{left:110px;bottom:1129px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #t3_2{left:110px;bottom:1105px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #t4_2{left:110px;bottom:1082px;letter-spacing:-0.08px;}
            #t5_2{left:110px;bottom:1058px;letter-spacing:-0.07px;word-spacing:-0.04px;}
            #t6_2{left:110px;bottom:1035px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #t7_2{left:110px;bottom:996px;letter-spacing:-0.06px;}
            #t8_2{left:110px;bottom:957px;letter-spacing:-0.08px;word-spacing:0.03px;}
            #t9_2{left:110px;bottom:933px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #ta_2{left:110px;bottom:910px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tb_2{left:110px;bottom:832px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tc_2{left:110px;bottom:793px;letter-spacing:-0.07px;word-spacing:-0.02px;}
            #td_2{left:110px;bottom:754px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #te_2{left:110px;bottom:730px;letter-spacing:-0.09px;word-spacing:0.04px;}
            #tf_2{left:110px;bottom:692px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tg_2{left:110px;bottom:668px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #th_2{left:110px;bottom:629px;letter-spacing:-0.08px;}
            #ti_2{left:110px;bottom:606px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #tj_2{left:110px;bottom:582px;letter-spacing:-0.07px;word-spacing:-0.01px;}
            #tk_2{left:110px;bottom:558px;letter-spacing:-0.07px;word-spacing:-0.04px;}
            #tl_2{left:110px;bottom:520px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #tm_2{left:110px;bottom:496px;letter-spacing:-0.08px;word-spacing:0.03px;}
            #tn_2{left:110px;bottom:472px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #to_2{left:110px;bottom:434px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tp_2{left:110px;bottom:410px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #tq_2{left:110px;bottom:386px;letter-spacing:-0.08px;word-spacing:0.04px;}
            #tr_2{left:110px;bottom:308px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #ts_2{left:110px;bottom:270px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #tt_2{left:110px;bottom:246px;letter-spacing:-0.08px;}
            #tu_2{left:110px;bottom:223px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #tv_2{left:110px;bottom:199px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #tw_2{left:110px;bottom:175px;letter-spacing:-0.07px;word-spacing:-0.03px;}

            #t1_3{left:110px;bottom:1152px;letter-spacing:-0.08px;word-spacing:-0.04px;}
            #t2_3{left:110px;bottom:1114px;letter-spacing:-0.08px;word-spacing:0.03px;}
            #t3_3{left:110px;bottom:1090px;letter-spacing:-0.08px;word-spacing:-0.02px;}
            #t4_3{left:110px;bottom:1067px;letter-spacing:-0.08px;word-spacing:-0.01px;}
            #t5_3{left:110px;bottom:1043px;letter-spacing:-0.08px;}
            #t6_3{left:110px;bottom:965px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #t7_3{left:110px;bottom:926px;letter-spacing:-0.08px;word-spacing:-0.04px;}
            #t8_3{left:110px;bottom:903px;letter-spacing:-0.08px;word-spacing:-0.03px;}
            #t9_3{left:110px;bottom:879px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #ta_3{left:110px;bottom:856px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #tb_3{left:110px;bottom:832px;letter-spacing:-0.08px;word-spacing:0.03px;}
            #tc_3{left:110px;bottom:808px;letter-spacing:-0.07px;word-spacing:0.02px;}
            #td_3{left:110px;bottom:746px;letter-spacing:-0.07px;}
            #te_3{left:110px;bottom:707px;letter-spacing:-0.09px;word-spacing:0.04px;}
            #tf_3{left:110px;bottom:683px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #tg_3{left:110px;bottom:660px;letter-spacing:-0.07px;word-spacing:-0.01px;}
            #th_3{left:110px;bottom:636px;letter-spacing:-0.08px;word-spacing:0.01px;}
            #ti_3{left:110px;bottom:612px;letter-spacing:-0.07px;word-spacing:-0.01px;}
            #tj_3{left:110px;bottom:535px;letter-spacing:-0.09px;word-spacing:0.06px;}
            #tk_3{left:110px;bottom:496px;letter-spacing:-0.07px;word-spacing:-0.02px;}
            #tl_3{left:110px;bottom:472px;letter-spacing:-0.07px;word-spacing:-0.03px;}
            #tm_3{left:110px;bottom:449px;letter-spacing:-0.08px;word-spacing:0.03px;}
            #tn_3{left:110px;bottom:425px;letter-spacing:-0.08px;word-spacing:-0.02px;}
            #to_3{left:110px;bottom:402px;letter-spacing:-0.07px;word-spacing:-0.04px;}
            #tp_3{left:110px;bottom:378px;letter-spacing:-0.07px;word-spacing:-0.01px;}
            #tq_3{left:110px;bottom:300px;letter-spacing:-0.07px;}
            #tr_3{left:110px;bottom:261px;letter-spacing:-0.08px;word-spacing:0.02px;}
            #ts_3{left:110px;bottom:238px;letter-spacing:-0.07px;word-spacing:-0.06px;}
            #tt_3{left:110px;bottom:199px;letter-spacing:-0.06px;word-spacing:0.01px;}
            #tu_3{left:110px;bottom:175px;letter-spacing:-0.07px;word-spacing:-0.04px;}
            #tv_3{left:110px;bottom:152px;letter-spacing:-0.09px;word-spacing:0.03px;}
            #tw_3{left:110px;bottom:128px;letter-spacing:-0.09px;word-spacing:0.08px;}

            .s0_1{font-size:21px;font-family:Calibri-Bold_26;color:#000;}
            .s1_1{font-size:17px;font-family:Calibri_28;color:#000;}
            .s0_2{font-size:17px;font-family:Calibri_28;color:#000;}
            .s0_3{font-size:17px;font-family:Calibri_28;color:#000;}
        </style>

{% endblock %}