<!DOCTYPE html>
<html lang="en">
		{% load static %}
		{% load main_template_tags %}
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="{% static 'css/invoice_css/style.css' %}" />
		<meta name="viewport" content="width=device-width" initial-scale="1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" /><!-- 
		<script src="js/jquery.min.js" type="text/javascript"></script>		
		<script src="js/script.js" type="text/javascript"></script> -->
		<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>		
		<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

		<script src="{% static 'js/invoice_js/jquery.min.js' %}" type="text/javascript"></script>	
		<script src="{% static 'js/invoice_js/script.js' %}" type="text/javascript"></script>
	</head>
	<body>
		<section id="gst-tax-invoice">
			<section class="outer-module">
				<div class="top-module">
					<!-- <div class="left">
						<h1><img src="{% static 'img/hghgh.jpg' %}" alt="image" /></h1>
					</div> -->
					<!-- <div class="right">
						<div class="box">
							<h1>PURCHASE BILL</h1>
						</div>
					</div> -->
					<br class="clear" />
				</div>
				<div class="invoice">
					<table>
						<tr class="head">
							<th colspan="13">PURCHASE RETURN BILL</th>
						</tr>
						<tr>
								<td rowspan="4" colspan="5">
                                <p class="bld">4AN Online Supermarket</p>
                                <p>****</p>
                                <p>****</p>
                            </td>								
							<td colspan="2">Order No.</td>
							<td colspan="2"></td>
							<td colspan="2">Purchase No.</td>
							<td colspan="2">{{instance.purchase.purchase_id}}</td>
						</tr>
						<tr>
							<td colspan="2">Sundry Creditor</td>
							<td colspan="2">{{instance.vendor}}</td>
							<td colspan="2">Purchase Date</td>
							<td colspan="2">{{instance.purchase.date|date:"d/m/Y"}}</td>
						</tr>
						<tr>
							<td colspan="2">Return Date</td>
							<td colspan="2">{{instance.date|date:"d/m/Y"}}</td>
							<td colspan="2">Tracking Number</td>
							<td colspan="2">{{instance.tracking_id}}</td>
						</tr>
						<tr>
							<td colspan="2">Payment Method</td>
							<td colspan="2"></td>
							<td colspan="2"></td>
							<td colspan="2"></td>
						</tr>
						{% if purchase_items %}
							<tr class="sub-title t-a-c">
								<th class="bld"  >Purchase No.</th>
								<th class="bld" colspan="2" >Items <br>Size/Model</th>
								<th class="bld" colspan="2" >HSN <br>Code</th>
								<!-- <th class="bld" colspan="1" >Unit <br>Price</th> -->
								<th class="bld" colspan="3" >QTY</th>
								<th class="bld" colspan="2" >Amount</th>
								<th class="bld" colspan="2">Total</th>
							</tr>
							{% for i in purchase_items %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td colspan="2" >{{i.product}}</td>
									<td colspan="2">{{i.product.hsn}}</td>
									<!-- <td colspan="1">{{i.amount }}</td> -->
									<td colspan="3">{{i.quantity}}</td>
									<td colspan="2">{{i.subtotal}}</td>
									<td colspan="2" style="border-right: 1px solid #000;">{{i.total}}</td>
								</tr>
							{% endfor %}
						{% endif %}
						<tr>
							<td class="bld" colspan="5">Total:{{instance.subtotal}}</td>
							<td colspan="3">xxxx</td>
							<td colspan="2"></td>
							<!-- <td></td>
							<td>xxxx</td>
							<td></td>
							<td>xxxx</td> -->
							<td colspan=2 style="border-right: 1px solid #000;">{{instance.total}}</td>
						</tr>
						<tr>
							<td colspan="8"></td>
							<td class="t-a-r" colspan="3">Grand Total:</td>
							<td colspan="2">{{instance.total}}</td>
						</tr>
						<!-- <tr>
							<td colspan="8"></td>
							<td class="t-a-r" colspan="3">Advance Amount:</td>
							<td colspan="2">{{instance.paid}}</td>
						</tr>
						<tr>
							<td colspan="8"></td>
							<td class="t-a-r" colspan="3">Balance Amount:</td>
							<td colspan="2">{{instance.balance}}</td>
						</tr> -->
					</table>
				</div>
				<div class="lower-module">
					{% if not franchisee %}
						<div class="inner-module one">
							<div class="left">
								<p>Bank:- <span>Federal Bank</span></p>
								<p>Branch:- <span>Pothencode</span></p>
								<p>A/C No.:- <span>14390200002896</span></p>
								<p>IFSC Code:- <span>FDRL0001439</span></p>
							</div>
							<div class="right">
	                            <h3>4AN Online Supermarket</h3>
	                            <div class="sign"></div>
	                            <p>(Authorized Signatory)</p>
	                        </div>
	                        <br class="clear" />
	                        <p>Customer Support Phone: <span>****</span> | Email: <span>****</span></p>
						</div>
					{% endif %}
					{% if franchisee %}
						<div class="inner-module one">
							<div class="left">
								<p>Bank:- <span>{{bank.bank_name}}</span></p>
								<p>Branch:- <span>{{bank.branch}}</span></p>
								<p>A/C No.:- <span>{{bank.account_number}}</span></p>
								<p>IFSC Code:- <span>{{bank.ifsc_code}}</span></p>
							</div>
							<div class="right">
								<h3>{{franchisee.shop_name}}</h3>
								<div class="sign"></div>
								<p>(Authorized Signatory)</p>
							</div>
							<br class="clear" />
							<p>Email: <span>{{franchisee.email}}</span></p>
						</div>
					{% endif %}
					<div class="inner-module">
						<p><span>Cash on Delivery:</span> please pay remaining amount to the sales representative before unloading the materials.</p>
						<p><span>Return Policy:</span> We try to deliver perfectly each and every time. But in case you need to return the item, please do so with the original packing, tags & invoice without which it will be really difficult for us to act on your request, please help us in helping you.</p>
						<p><span>If Repurchasing any:</span> please contact our company we always ready to serve you at best price.</p>
					</div>
				</div>
				<p class="p">* Terms & Conditions apply</p>
			</section>
		</section>
	</body>
</html>