{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
<section class="content container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto float-right ml-auto">
                        <h3 class="ah-label hidden-xs palette-White text">{{instance.auto_id}} - {{instance.staff}}</h3>

                        <ul class="personal-info row">

                            <li class="col">
                                <a title="Create new Allowance" href="{% url 'staffs:create_salary_allowance' %}"
                                    class=" text-white edit-icon">
                                    <i style="color: #000000;" class="las la-plus"></i>
                                </a>
                            </li>
                            {% if instance.creator == request.user %}

                            <li class="col">
                                <a title="Edit Allowance" href="{% url 'staffs:edit_salary_allowance' pk=instance.pk %}"
                                    class="edit-icon">
                                    <i class="las la-pen"></i>
                                </a>
                            </li>
                            <li class="col">
                                <a title="Delete Allowance" data-id="{{instance.pk}}"
                                    data-text="{{confirm_delete_message}}" data-title="Are you sure?"
                                    href="{% url 'staffs:delete_salary_allowance' pk=instance.pk %}"
                                    class="action-button redirect delete-icon edit-icon">
                                    <i class="las la-trash"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- <div class="col-auto align-self-center">

                        <a href="{% url 'staffs:set_permissions' pk=instance.pk %}" class="btn btn-sm btn-outline-primary">
                            <i  class="las la-braille align-self-center icon-xs"></i>
                        </a>
                    </div> -->
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Basic Info <small></small></h2>
                </div>

                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Staff</div>
                                <small class="lgi-text">{{instance.staff.name}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Date</div>
                                <small class="lgi-text">{{instance.date|date:'d-m-Y'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Description</div>
                                <small class="lgi-text">{{instance.description|default:'-'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Hours</div>
                                <small class="lgi-text">{{instance.hours|default:'-'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Rate per Hour</div>
                                <small class="lgi-text">{{instance.rate_per_hour|default:'-'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Days</div>
                                <small class="lgi-text">{{instance.days|default:'-'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Rate per Day</div>
                                <small class="lgi-text">{{instance.rate_per_day|default:'-'}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Allowance</div>
                                <small class="lgi-text">{{instance.allowance}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Updater </div>
                                <small class="lgi-text">{{instance.updater}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Creator </div>
                                <small class="lgi-text">{{instance.creator}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Date Created </div>
                                <small class="lgi-text">{{instance.date_added|date:"d/m/Y h:i A"}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Date Updated </div>
                                <small class="lgi-text">{{instance.date_updated|date:"d/m/Y h:i A"}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>
{% endblock %}

{% block static %}
{% load static %}
{% endblock %}