{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <form action="{{url}}" method="post" class="ajax redirect skip_empty_row">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.date.id_for_label }}">
                                        {{ form.date.label }}

                                        {% if form.date.field.required %}
                    
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.date }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.warehouse.id_for_label }}">
                                        {{ form.warehouse.label }}

                                        {% if form.warehouse.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.warehouse }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.to_warehouse.id_for_label }}">
                                        {{ form.to_warehouse.label }}

                                        {% if form.to_warehouse.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.to_warehouse }}
                                </div>
                            </div>

                        </div>
                        <div class="card ordinary-variant-card">
                            <div class="table-responsive card-body add_item_container stock_transfer_formset">
                                <table id="data-table-basic" class="table table-striped table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 140px;" data-column-id="barcode">Product code</th>

                                            <th style="min-width: 130px;">Product</th>
                                            <th style="min-width: 130px;">Batch</th>
                                            <th>Available stock</th>
                                            <th style="min-width: 130px;">Quantity</th>
                                            <th style="min-width: 130px;">Manufacturing Date</th>
                                            <th style="min-width: 130px;">Expire Date</th>
                                            <th style="min-width: 110px;">Cost</th>

                                            <th style="min-width: 110px;">MRP</th>
                                            <th style="min-width: 110px;">Retail Price</th>
                                            <th style="min-width: 110px;">Whole Sale Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in stock_transfer_formset.forms %}
                                        <tr class="form_set_row">
                                            {{ item.id }}
                                            <td>
                                                <span class="item_barcode p-relative">
                                                    <input type="text" name="barcode" class="form-control">
                                                </span>
                                            </td>
                                            <td>
                                                <span class="product_variant"   data-value="{{ item.product_variant.value }}">
                                                    {{ item.product_variant }}                         
                                                </span>
                                            </td>
                                            <td class="batch check_empty">
                                                <span data-value="{% if is_edit %}{{ item.batch.value }}{% endif %}"
                                                    class="product_batch current_batch">
                                                    {{ item.batch }}
                                                </span>
                                            </td>
                                            <td class="">
                                                <span class="current_stock check_empty p-relative">
                                                    <input type="text" class="form-control" disabled style="width:2.5cm"
                                                        value="" />
                                                </span>
                                            </td>
                                            <td class="quantity">
                                                <span class="">
                                                    {{ item.quantity }}
                                                </span>
                                            </td>
                                            
                                            <td class="manufacturing_date"
                                                data-value="{{ item.manufacturing_date.value }}">
                                                {{item.manufacturing_date}}
                                            </td>

                                            <td class="expire_date" data-value="{{ item.expire_date.value }}">
                                                {{item.expire_date}}
                                            </td>

                                            <td class="cost">
                                                <span class="">
                                                    {{ item.cost }}
                                                </span>
                                            </td>
                                            <td class="">
                                                <span class="product_mrp order_request_qty"
                                                    data-value="{{ item.mrp.value }}">
                                                    {{item.mrp}}
                                                </span>
                                            </td>

                                            <td class="image">
                                                <span class="retail_price" data-value="{{ item.retail_price.value }}">
                                                    {{ item.retail_price }}
                                                </span>
                                            </td>
                                            <td class="">
                                                <span class="whole_sale_price"
                                                    data-value="{{ item.whole_sale_price.value }}">
                                                    {{ item.whole_sale_price }}
                                                </span>
                                            </td>
                                            <td class="delete">{% if item.instance.pk %}{{ item.DELETE }}{% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ stock_transfer_formset.management_form }}
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=text]').focus(function () {
            $(this).select();
        });


        $('.stock_transfer_formset table tr.form_set_row').formset({
            prefix: '{{ stock_transfer_formset.prefix }}',
            formCssClass: 'dynamic-formset',

            'added': function (row) {
                row.find('.date-picker').datepicker();
                row.find('.selectpicker').selectpicker('refresh');

                let row_batch = row.find('.current_batch select')
                let batch_select = `<select name="${row_batch.attr('name')}" id="${row_batch.attr('id')}" class="form-control selectpicker" data-live-search=true></select>`
                row.find('.current_batch').html(batch_select)
            },
        });

    });
</script>
<script type="text/javascript">
    $(document).on('change keyup', '.product_variant select', function () {
        $this = $(this);
        getProductVariantData($this);
    });
    $(document).on('change keyup', '.current_batch select', function () {
        $this = $(this);
        get_batch_data($this)

        var $parent = $this.parents('tr.form_set_row');
        // RateQty($parent)
    });

    $(document).on('keypress', 'tr.form_set_row .sale_item_barcode input', function (event) {
        if (event.which == '10' || event.which == '13') {
            event.preventDefault();
            $selector = $(this);
            getProductVariantData($selector, true);
        }
    })

    function getProductVariantData(element, barcode = false) {
        var url = "{% url 'sales:get_product_variant_data' %}"
        var $parent = element.parents('tr.form_set_row');
        var warehouse = $('#id_warehouse').val()
        var product_id = element.val();
        var code = barcode?"yes":"no";
        var is_ok = true;

        if (warehouse == undefined || warehouse == null || warehouse == "") {
            is_ok = false;
        }
        if (product_id == undefined || product_id == null || product_id == "") {
            is_ok = false
        }

        if (is_ok) {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: product_id,
                    barcode: code,
                    warehouse: warehouse,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == 'true') {
                        var price = data['price'];
                        // var mrp = data['mrp'];
                        // var hsn = data['hsn'];
                        var igst = data['igst'];
                        var sgst = data['sgst'];
                        var cgst = data['cgst'];
                        // var cess = data['cess'];
                        var cost = data['cost'];
                        var unit = data['unit'];
                        var hsn = data['hsn'];
                        var current_stock = data['stock'];
                        var batch_list = data['batch_list'];
                        var product_code = data['product_code'];
                        var default_batch = data['default_batch'];
                        var last_purchase_cost = data['last_cost'];

                        var supplier_state = $("#supplier_state").val()
                        if (supplier_state == "Kerala") {
                            cgst = Math.round(cgst * 100) / 100;
                            sgst = Math.round(sgst * 100) / 100;
                            igst = Math.round(0);
                        } else {

                            cgst_amount = Math.round(cgst * 100) / 100;
                            sgst_amount = Math.round(sgst * 100) / 100;
                            igst = Math.round(cgst_amount + sgst_amount);
                            cgst = Math.round(0);
                            sgst = Math.round(0);

                        }

                        $parent.find(".tax input").val(igst);
                        $parent.find(".sgst input").val(sgst);
                        $parent.find(".cgst input").val(cgst);
                        $parent.find(".igst input").val(igst);
                        $parent.find(".unit_type input").val(unit);
                        $parent.find(".product_hsn input").val(hsn);
                        $parent.find('.discount_amound_new input').val(0)
                        // $parent.find(".price input").val(price);
                        // $parent.find(".product_mrp input").val(default_batch['mrp']);
                        // $parent.find(".purchase_amount input").val(last_purchase_cost);

                        $parent.find(".product_mrp input").val(0);
                        $parent.find(".price input").val(0).trigger('keyup');
                        $parent.find(".expire_date input").val('');
                        $parent.find(".manufacturing_date input").val('');
                        $parent.find(".purchase_amount input").val(0).change();

                        if (batch_list.length == 1) {
                            var batch_list_option = ''
                        } else {
                            if ($parent.find(".current_batch").attr('data-value')) {
                                var batch_list_option = '<option data-text="Select batch" value="">Select batch</option>'
                            } else {
                                var batch_list_option = '<option selected data-text="Select batch" value="">Select batch</option>'
                            }
                        }

                        for (j = 0; j < batch_list.length; j++) {
                            item = batch_list[j]
                            batch_list_option += `<option data-text="${item['text']}" value="${item['pk']}">${item['text']}</option>`
                        }

                        $parent.find(".current_batch select").html(batch_list_option);
                        $parent.find(".current_batch select").selectpicker('refresh');

                        if ($parent.find(".current_batch").attr('data-value')) {
                            var selected_batch = $parent.find(".current_batch").attr('data-value');
                            console.log(selected_batch)
                            $parent.find(`.current_batch select option[value="${selected_batch}"]`).attr('selected', '')
                            $parent.find(".current_batch select").selectpicker('refresh');
                            $parent.find(".current_batch select").trigger('change');
                        }
                        else if (batch_list.length == 1) {
                            $parent.find(".current_batch select").trigger('change');
                        } else {
                            $parent.find(".current_batch .filter-option-inner-inner").text('Select Batch');
                        }

                        if (barcode) {
                            $parent.find('.product_variant select').val(pk).selectpicker('refresh');

                        } else {
                            $parent.find('.item_barcode input').val(product_code);
                        }
                    } else {
                        var message = data['message']
                        var batch_list_option = `<option data-text='${message}' value="">${message}</option>`;

                        $parent.find(".batch select").html(batch_list_option);
                        $parent.find(".batch select").selectpicker('refresh');
                        $parent.find(".batch select").trigger('change')
                    }
                },
                error: function (data) { }
            })
        }
        else {
            if (warehouse == undefined || warehouse == null || warehouse == "") {
                let title = "Warehouse not selected..!";
                let message = "Please Select a Warehouse";
                if (barcode) {
                    element.val('');
                } else if (element.parent().hasClass('product_variant')) {
                    element.html('');
                }
                setTimeout(function() {swal(title, message, "error")});
            }
        }
    }

    function get_batch_data($this) {
        var $parent = $this.parents('tr.form_set_row');
        var batch_id = $this.val();
        var url = "{% url 'general:get_batch_data' %}"

        if (batch_id != undefined && batch_id != null && batch_id != "") {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: batch_id,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == 'true') {
                        var mrp = data['mrp'];
                        var cost = data['cost'];
                        var price = data['price'];
                        var current_stock = data['stock'];
                        var expire_date = data['expire_date'];
                        var manufacturing_date = data['manufacturing_date'];
                        var last_purchase_cost = data['last_cost'];
                        var retail_price = data['retail_price'];
                        var whole_sale_price = data['whole_sale_price'];

                        //{% if is_edit %}
                        if ($parent.find(".product_mrp").attr('data-value')) {
                            var old_mrp = parseFloat($parent.find(".product_mrp").attr('data-value'));
                            if (old_mrp > 0) {
                                mrp = old_mrp
                                // $parent.find(".product_mrp input").val(old_mrp).change();
                            }
                            $parent.find(".product_mrp").attr('data-value', '')
                        }

                        if ($parent.find(".retail_price").attr('data-value')) {
                            var old_retail_price = parseFloat($parent.find(".retail_price").attr('data-value'));
                            if (old_retail_price > 0) {
                                retail_price = old_retail_price
                                // $parent.find(".price input").val(old_price).change();
                            }
                            $parent.find(".retail_price").attr('data-value', '')
                        }
                        console.log($parent.find(".whole_sale_price").attr('data-value'), 'whole_sale_price')
                        if ($parent.find(".whole_sale_price").attr('data-value')) {
                            var old_whole_sale_price = parseFloat($parent.find(".whole_sale_price").attr('data-value'));
                            if (old_whole_sale_price > 0) {
                                whole_sale_price = old_whole_sale_price
                                // $parent.find(".price input").val(old_price).change();
                            }
                            $parent.find(".whole_sale_price").attr('data-value', '')
                        }
                        if ($parent.find(".purchase_amount").attr('data-value')) {
                            var old_purchase_amount = parseFloat($parent.find(".purchase_amount").attr('data-value'));
                            if (old_purchase_amount > 0) {
                                last_purchase_cost = old_purchase_amount;
                                // $parent.find(".purchase_amount input").val(old_purchase_amount).change();
                            }
                            $parent.find(".purchase_amount").attr('data-value', '')
                        }
                        if ($parent.find(".expire_date").attr('data-value')) {
                            var old_expire_date = parseFloat($parent.find(".expire_date").attr('data-value'));
                            if (old_expire_date > 0) {
                                expire_date = old_expire_date;
                                // $parent.find(".purchase_amount input").val(old_purchase_amount).change();
                            }
                            $parent.find(".expire_date").attr('data-value', '')
                        }
                        if ($parent.find(".manufacturing_date").attr('data-value')) {
                            var old_manufacturing_date = parseFloat($parent.find(".manufacturing_date").attr('data-value'));
                            if (old_manufacturing_date > 0) {
                                manufacturing_date = old_manufacturing_date;
                                // $parent.find(".purchase_amount input").val(old_purchase_amount).change();
                            }
                            $parent.find(".manufacturing_date").attr('data-value', '')
                        }
                        // {% endif %}
                        // $parent.find(".whole_sale_price input").attr('value', whole_sale_price);
                        $parent.find(".whole_sale_price input").val(whole_sale_price).trigger('keyup');
                        $parent.find(".retail_price input").val(retail_price).trigger('keyup');
                        $parent.find(".product_mrp input").val(mrp);
                        $parent.find(".price input").val(price).trigger('keyup');
                        $parent.find(".cost input").val(cost);
                        $parent.find(".expire_date input").val(expire_date);
                        $parent.find(".manufacturing_date input").val(manufacturing_date);

                        // change batch background colour and add new row
                        let $last_parent = $('.purchase_item_formset table tbody tr:nth-last-child(2)');
                        test_name1 = $parent.find('.batch select').attr('name');
                        test_name2 = $last_parent.find('.batch select').attr('name');

                        $parent.removeClass('coloured-row');
                        $parent.find(".current_stock input").val(current_stock);

                        if (test_name1 === test_name2) {
                            $('.purchase_item_formset .icon_add_item').click();
                        }
                        $parent.next().find('.item_barcode input').focus()
                        // end of add new row and batch background colour

                    }

                },
                error: function (data) {
                }
            })
        }
        else {
            $parent.addClass('coloured-row');

            $parent.find(".cost input").val(0);
            $parent.find(".product_mrp input").val(0);
            $parent.find(".price input").val(0).trigger('keyup');
            $parent.find(".expire_date input").val('');
            $parent.find(".manufacturing_date input").val('');
            $parent.find(".purchase_amount input").val(0).change();
        }

    }

    // {% if is_edit %}
    $('.product_variant select').each(function () {
        getProductVariantData($(this))
        // get_batch_data($(this))
    })
    // {% endif %}
</script>
{{ form.media }}
{% endblock %}