{% extends 'base.html' %}
{% block content %}


<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">

                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'products:create_subcategory' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Subcategory</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Name </th>
                            <th>Category </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ subcategory.name }}</td>
                            <td>{{ subcategory.category }}</td>
                            <td class="text-right">
                                <a href="{% url 'products:subcategory' pk=subcategory.pk %}"><i
                                        class="las la-eye text-info font-18"></i></a>
                                <a href="{% url 'products:edit_subcategory' pk=subcategory.pk %}"><i
                                        class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ subcategory.pk }}" class="action-button remove"
                                    href="{% url 'products:delete_sub_category' pk=subcategory.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
{% endblock %}