{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">

                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'orders:create_time_slot' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Time Slot</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
                {% for day in days %}
                <li class="nav-item">
                    <a href="{% url 'orders:time_slot' pk=day.pk %}"
                        class="nav-link {% if pk|safe == day.pk|safe %}active{% endif %}">
                        {{ day.name }} ({{ day.count }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if instances %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Start Time </th>
                            <th>End Time </th>

                            <th>Active Status </th>
                            <th style="width: 150px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}
                        {% for item in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.start_time|time:'h:i A' }}</td>
                            <td>{{ item.end_time|time:'h:i A' }}</td>

                            <td><span class="badge badge-{{item.is_active|yesno:'success,warning'}}">{{item.is_active|yesno|title}}</span></td>
                            <td style="width: 150px">
                                <a href="{% url 'orders:edit_time_slot' pk=item.pk %}"><i
                                    class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ item.pk }}" class="action-button remove"
                                    href="{% url 'orders:delete_time_slot' pk=item.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                    class="las la-trash-alt text-danger font-18"></i></a>
                                <a data-id="{{ item.pk }}" class="action-button reload btn btn-{{item.is_active|yesno:'secondary,primary'}}" data-reason="no"
                                    href="{% url 'orders:status_time_slot' pk=item.pk %}" title="Click to {{item.is_active|yesno:'Disable,Enable'}}"
                                    data-text="The time slot will be {{item.is_active|yesno:'disabled,enabled'}}" data-title="Are you sure?">
                                    {{item.is_active|yesno:'Disable,Enable'}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% get_pages %}
                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>
<!-- /Page Content -->

{% endblock %}