<!-- Javascript Libraries -->
{% load static %}

<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/sweetalert.min.js' %}"></script>
<!-- <script src="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.js' %}"></script> -->


<script src="{% static 'js/actions1.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/metismenu.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'pages/jquery.animate.init.js' %}"></script>
<!-- App js -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.datepicker.js' %}"></script>

<!-- google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuJjPl1j3eIfA59PKc9wJmN7fAT1uXJhw&callback=initAutocomplete&libraries=places&v=weekly" defer></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script> -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<script src="{% static 'web/js/action.js' %}"></script>

{% if is_need_calender %}
<script src="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
{% endif %}


<!-- Datetimepicker JS -->
<!-- <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"> -->
{% if not is_no_need_autocomplete %}
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.post-setup.js' %}"></script>
<script src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.min.js' %}"></script>
{% endif %}


{% if location %}
<script src="{% static 'location/location.js' %}" type="text/javascript"></script>
{% endif %}

<script>
    $(document).ready(function () {
        $('input.date-picker').datepicker();
        $('input.date-picker-dd').datepicker({
            format: 'dd/mm/yyyy'
        }).css('z-index', '1000');
        $('input.date-picker-dd').attr('autocomplete', 'off')
    });
</script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<style>
    .form-group .select2-container--default .select2-selection--single .select2-selection__rendered,
    .row .select2-container--default .select2-selection--single .select2-selection__rendered,
    .row table .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 0 0 0 9px;
    }

    .row .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #f00;
    }

    .row .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #e7effd;
        color: #2f6ff6;
    }

    .list-group-item .media-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* style for el-pagination */
    div.pagi.row .my-pagina {
        display: flex;
        flex-wrap: wrap;
    }

    div.pagi.row span.endless_page_current {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #5785df4a;
        color: #1761fd;
        border: 2px solid #1761fd;
        font-weight: bold;
        margin-right: 3px;
    }

    div.pagi.row a.endless_page_link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #afafaf;
        margin-right: 3px;
        background-color: rgba(23, 97, 253, 0.1);
        color: #1761fd;
    }

    div.pagi.row a.endless_page_link:hover {
        background-color: #1761fd;
        color: #fff;
    }

    div.pagi.row .endless_separator {
        margin-top: 5px;
        margin-right: 2px;
    }

    /* style for el-pagination ends here */
</style>