DEBUG=on
SECRET_KEY='django-insecure-6fgn@gaj_&_p3pnit#)3y--ud^@ry6$1hu^nl(wjkqrt!+ggx8'
ALLOWED_HOSTS=*, .localhost, .127.0.0.1,
SERVER=off
DATABASE_URL=psql://nexsme:V9^=+9x1@127.0.0.1:5432/nexsme
DB_NAME=nexsme
DB_USER=nexsme
DB_PASSWORD=V9^=+9x1
DB_HOST=localhost
DB_PORT=5432
RAZORPAY_API_KEY=rzp_test_qeCkGBBJdIBrto
RZP_SECRET_KEY=1bZvx5yt8hoFkZAZqQwRY9WR