{% extends 'base.html' %}
{% block content %}



    <!-- Page Content -->
    <div class="content container-fluid">


            <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto float-right ml-auto">
                        <a title="Filter" data-toggle="modal" data-target="#modal_aside_right" href="javascript:void(0)" class="btn btn-soft-primary btn-sm add-btn mt-1">Filter
                        </a>

                    </div>
                    <div class="col-auto align-self-center">

                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'finance:create_credit_note_voucher' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Credit Note</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <!-- <th style="width: 30px;">ID</th> -->
                                <th>Voucher Number</th>
                                <th>Voucher Date</th>
                                <th>Customer</th>
                                <th>Sale retrun</th>
                                <th>Title</th>
                                <th>Returned Amount</th>
                                <th>Type</th>
                                <th>Cancelled?</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in instances %}
                            <tr class="{% if instance.is_updated %}text-danger{% endif %}">
                                <td> <a href="{% url 'finance:credit_note_voucher' pk=instance.pk %}">{{instance.voucher_number}}</a></td>
                                <td>{{ instance.voucher_date|date:'d/m/Y'}}</td>
                                <td>{{ instance.customer }}</td>
                                <td>{{ instance.sale_return }}</td>
                                <td>{{ instance.title }}</td>
                                <td>{{ instance.amount }}</td>
                                <td>{{ instance.get_transfer_type_display }}</td>
                                <td class="text-danger">{{ instance.is_deleted|yesno:"Cancelled, " }}</td>

                                <td class="text-right">

                                    <a href="{% url 'finance:credit_note_voucher' pk=instance.pk %}"><i
                                            class="las la-eye text-info font-18"></i></a>
                                            {% if not instance.is_deleted  %}
                                            <a href="{% url 'finance:edit_credit_note_voucher' pk=instance.pk %}"><i
                                            class="las la-pen text-info font-18"></i></a>
                                    <a data-id="{{ instance.pk }}" class="reload action-button remove"
                                        href="{% url 'finance:delete_credit_note_voucher' pk=instance.pk %}"
                                        data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                            class="las la-trash-alt text-danger font-18"></i></a>
                                            {% endif %}

                                        </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

<!-- modal -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Filter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form method="get" action="{% url 'finance:credit_note_vouchers' %}">
              <div class="modal-body">
                  <div class="form-group fg-line">
                      <label class="bmd-label-floating">Search</label>
                      <input name="q" value="{% if filter_data.query %}{{filter_data.query}}{% endif %}" type="text" class="form-control" />
                  </div>
              </div>
              <div class="modal-body pt-0 pb-0">
                  <div class="form-group fg-line">
                      <label class="bmd-label-floating">Voucher date</label>
                     <input type="date" name="voucher_date" value="{% if filter_data.voucher_date %}{{filter_data.voucher_date}}{% endif %}" class="form-control">
                  </div>
              </div>
              <div class="modal-body pt-0 pb-0">
                  <div class="form-group fg-line">
                      <label class="bmd-label-floating">Voucher Number</label>
                     <input type="date" name="voucher_number" value="{% if filter_data.voucher_number %}{{filter_data.voucher_number}}{% endif %}" class="form-control">
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-sm btn-primary">Submit</button>
              </div>
          </form>

      </div>
  </div> <!-- modal-bialog .// -->
</div> <!-- modal.// -->
{% endblock %}