{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="{% url 'general:create_damaged_product' %}" class="btn btn-sm btn-soft-primary"><i
                        class="fa fa-plus"></i>
                    Add New</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card">
        <div class="card-body card-padding">
            <form action="" method="get">
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="from_date">From Date:</label><br />
                                <input type="text" class="date-picker-dd form-control" id="from_date"
                                    name="from_date" />
                            </div>
                            <div class="col-sm-3">
                                <label for="to_date">To Date:</label><br />
                                <input type="text" class="date-picker-dd form-control" id="to_date" name="to_date" />
                            </div>
                            <div class="col-sm-1 d-flex flex-column-reverse">
                                <div class="">
                                    <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            {% if date_error %}
                                        <p class="text-danger">{{date_error}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="table table-striped custom-table mb-0 datatable-">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Warehouse</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Batch</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}
                        {% for instance in instances %}
                        <tr>
                            <td>{{ instance.auto_id }}</td>
                            <td>{{ instance.warehouse }}</td>
                            <td>{{ instance.product_variant }}</td>
                            <td>{{ instance.date|date:"m/d/Y" }}</td>
                            <td>{{ instance.batch }}</td>
                            <td>{{ instance.quantity }}</td>
                            <td>{{ instance.amount }}</td>

                            <td class="text-right noExl">

                                {% if instance.is_deleted %}
                                <span class="badge badge-danger badge-pill">Deleted</span>
                                {% endif %}

                                <a href="{% url 'general:damaged_product' pk=instance.pk %}"><i
                                        class="las la-eye text-info font-18"></i></a>
                                {% if not instance.is_deleted %}
                                <a href="{% url 'general:edit_damaged_product' pk=instance.pk %}"><i
                                        class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ instance.pk }}" class="reload action-button remove"
                                    href="{% url 'general:delete_damaged_product' pk=instance.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="text-center"> Total</th>
                            <th>{{ total_amount|default:0.0 }}</th>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                {% get_pages %}
                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
{% endblock %}