{% extends 'base.html' %}
{% block content %}




<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class=" btn btn-sm btn-soft-primary" href="{% url 'finance:create_financial_year' %}"
                    role="button"><i class="fas fa-plus mr-2"></i>Add New</a>


            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">Sl no.</th>
                            <th style="width: 30px;">ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}

                        {% for instance in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{instance.auto_id}}</td>
                            <td> <a
                                    href="{% url 'finance:financial_year' pk=instance.pk %}">{{instance.start_date|date:'d/m/Y'}}</a>
                            </td>
                            <td>{{instance.end_date|date:'d/m/Y'}}</td>
                            <td>{{instance.is_active|yesno:"Active,Inactive"}}</td>

                            <td class="text-right noExl">
                                <a href="{% url 'finance:financial_year' pk=instance.pk %}"><i
                                        class="las la-eye text-info font-18"></i></a>
                                <a href="{% url 'finance:edit_financial_year' pk=instance.pk %}"><i
                                        class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ instance.pk }}" class="reload action-button remove"
                                    href="{% url 'finance:delete_financial_year' pk=instance.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock %}