{% extends 'base.html' %}
{% block content %}


<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
            <a class=" btn btn-sm btn-soft-primary" href="{% url 'general:create_batch' %}" role="button"><i
                    class="fas fa-plus mr-2"></i>New Batch</a>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Product Name </th>
                            <th>Product Variant </th>
                            <th>Batch Number </th>
                            <th>Manfacturing Date </th>
                            <th>Expire Date </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batch in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ batch.product.name }}</td>
                            <td>{{ batch.product_variant.title }}</td>
                            <td>{{ batch.manufacturing_date }}</td>
                            <td>{{ batch.expire_date }}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'products:batch' pk=batch.pk %}"><i
                                                class="fa fa-eye m-r-5"></i> View</a>

                                        <a class="dropdown-item" href="{% url 'products:edit_batch' pk=batch.pk %}"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>

                                        <a data-id="{{ batch.pk }}"
                                            class="action-button remove btn btn-light btn-rnd btn--icon dropdown-item"
                                            href="{% url 'products:delete_sub_category' pk=batch.pk %}"
                                            data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                                class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
{% endblock %}