{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
<section class="content container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">View</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto float-right ml-auto">
                        <h3 class="ah-label hidden-xs palette-White text">{{instance.auto_id}} - {{instance.name}}</h3>

                        <ul class="personal-info row">
                            
                            <li class="col">
                                <a title="Set Permissions" href="{% url 'staffs:set_permissions' pk=instance.pk %}"
                                    class="btn btn-soft-primary edit-icon">
                                    <i class="las la-key"></i>
                                </a>
                            </li>
                            {% if not instance.is_deleted %}

                            <li class="col">
                                <a title="Edit Staff" href="{% url 'staffs:edit_staff' pk=instance.pk %}"
                                    class="btn btn-soft-primary">
                                    <i class="las la-pen"></i>
                                </a>
                            </li>
                            <li class="col">
                                <a title="Delete Staff" data-id="{{instance.pk}}"
                                    data-text="{{confirm_delete_message}}" data-title="Are you sure?"
                                    href="{% url 'staffs:delete_staff' pk=instance.pk %}"
                                    class="action-button redirect btn btn-soft-danger">
                                    <i class="las la-trash"></i>
                                </a>
                            </li>

                            {% endif %}
                            <li class="col">
                                <a title="Create new Staff" href="{% url 'staffs:create_staff' %}"
                                    class="btn btn-soft-success edit-icon">
                                    <i class="las la-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Staff Info <small></small></h4>
                </div>

                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                        <div class="row">

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Email </div>
                                    <small class="lgi-text">{{instance.email}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Phone </div>
                                    <small class="lgi-text">{{instance.phone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Address </div>
                                    <small class="lgi-text">{{instance.address}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Staff Age </div>
                                    <small class="lgi-text">{{instance.staff_age}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Gender</div>
                                    <small class="lgi-text">{{instance.gender}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Joining Date</div>
                                    <small class="lgi-text">{{instance.joining_date}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Salary </div>
                                    <small class="lgi-text">{{instance.salary}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Designation </div>
                                    <small class="lgi-text">{{instance.designation}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Username</div>
                                    <small class="lgi-text">{{instance.user}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">User Role</div>
                                    <small class="lgi-text">{{instance.get_staff_role_display}}</small>
                                </div>
                            </div>

                            {% if instance.photo %}
                            <div class="list-group-item media col-sm-6">
                                <div class="media-body">
                                    <div class="lgi-heading">Image</div>
                                    <img src="{{instance.photo.crop.100x100}}" alt="Photo">
                                </div>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h4>Bank Info <small></small></h4>
                </div>

                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                        <div class="list-group-item media ">
                            <div class="media-body">
                                <div class="lgi-heading">Bank Name</div>
                                <small class="lgi-text">{{instance.bank_name}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media ">
                            <div class="media-body">
                                <div class="lgi-heading">Branch </div>
                                <small class="lgi-text">{{instance.branch}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media ">
                            <div class="media-body">
                                <div class="lgi-heading">Bank Account name </div>
                                <small class="lgi-text">{{instance.bank_account_name}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media ">
                            <div class="media-body">
                                <div class="lgi-heading">IFSC Code </div>
                                <small class="lgi-text">{{instance.ifsc_code}}</small>
                            </div>
                        </div>

                        <div class="list-group-item media ">
                            <div class="media-body">
                                <div class="lgi-heading">Account No </div>
                                <small class="lgi-text">{{instance.account_num}}</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Basic Info <small></small></h4>
                </div>

                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Creator </div>
                            <small class="lgi-text">{{instance.creator}}</small>
                        </div>
                        </div>

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Date Added </div>
                            <small class="lgi-text">{{instance.date_added|date:"d, M Y P"}}</small>
                        </div>
                        </div>

                        {% if instance.is_deleted %}

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Deleted By </div>
                            <small class="lgi-text">{{instance.updater}}</small>
                        </div>
                        </div>

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Deleted Date </div>
                            <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                        </div>
                        </div>

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Deleted Reason </div>
                            <small class="lgi-text">{{instance.deleted_reason}}</small>
                        </div>
                        </div>

                        {% else %}

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Updater </div>
                            <small class="lgi-text">{{instance.updater}}</small>
                        </div>
                        </div>

                        <div class="list-group-item media ">
                        <div class="media-body">
                            <div class="lgi-heading">Date Updated </div>
                            <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                        </div>
                        </div>

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
{% endblock %}

{% block static %}
{% load static %}
{% endblock %}