{% extends "base.html" %}
<section id="admin-head">
    <div class=admhead>
        <h1>Staff Management Dashboard</h1>
    </div>
    <div class="link">
        <!-- <a href="#"><h4>Go to</h4><i class="zmdi zmdi-arrow-right"></i></a> -->
</section>

<section id="dashcards">
    <section class="dashcard card">
        <div class="cardss">
            <div class="mainim" title="CRM">
                <a href="#" title="CRM"><img src="../../static/img/staffss.png" class="" /></a>
                
                <p style="font-size:18px;color:blue">Total Staffs</p>
                <p style="font-size:18px;color:blue">{{total_leads}}</p>
            </div>

        </div>

    </section>
    <section class="dashcard card">
        <div class="cardss">
            <div class="mainim" title="CRM">
                <a href="#" title="CRM"><img src="../../static/img/quotation-image.png" class="" />Attendance</a>
                <p style="font-size:14px;color:blue">Presents : {{present_students}}</p>
                            <p style="font-size:14px;color:blue">Absents : {{absent_students}}</p>
            </div>

        </div>
        
    </section>
    <section class="dashcard card">
        <div class="cardss">
            <div class="mainim" title="CRM">
                <a href="#" title="CRM"><img src="../../static/img/download.jpeg" class="" /></a>
                <p style="font-size:18px;color:blue">Quotations</p>
                <p style="font-size:18px;color:blue">{{quotation_count}}</p>
            </div>

        </div>
        
    </section>

    


</section>

          