{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">

                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'products:create_hsn_codes' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New HsnCode</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->
    <div class="table-responsive">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th style="width: 30px;">ID</th>
                    <th>Name </th>
                    <th>Description </th>
                    <th>HSN Number </th>
                    <th>IGST Rate </th>
                    <th>CGST Rate </th>
                    <th>SGST Rate </th>
                    <th>Unit </th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% load el_pagination_tags %}
                {% paginate 20 instances %}
                {% get_pages %}
                {% for hsn in instances %}
                <tr>
                    <td>{{ forloop.counter0|add:pages.current_start_index }}</td>
                    <td>{{ hsn.name }}</td>
                    <td>{{ hsn.description }}</td>
                    <td>{{ hsn.hsn_number }}</td>
                    <td>{{ hsn.igst_rate }}</td>
                    <td>{{ hsn.cgst_rate }}</td>
                    <td>{{ hsn.sgst_rate }}</td>
                    <td>{{ hsn.unit }}</td>
                    <td class="text-right">
                        <a href="{% url 'products:hsn_code' pk=hsn.pk %}"><i
                                class="las la-eye text-info font-18"></i></a>
                        <a href="{% url 'products:edit_hsn_code' pk=hsn.pk %}"><i
                                class="las la-pen text-info font-18"></i></a>
                        <a data-id="{{ hsn_code.pk }}" class="reload action-button remove"
                            href="{% url 'products:delete_hsn_code' pk=hsn.pk %}"
                            data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                class="las la-trash-alt text-danger font-18"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% get_pages %}
        <div class="clearfix"></div>
        <div class="row pagi my-3">
            <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
            <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                <div class="m-t-10">
                    Showing {{title}}
                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                        class="total_count">{{ pages.total_count }}</span>
                </div>
            </div>
        </div>
        <!--end /table-->
    </div>
    <!--end /tableresponsive-->
</div>
<!-- /Page Content -->

{% endblock %}