{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->



    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <form action="{{url}}" method="post" class="ajax redirect">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 voucher_date">
                                <div class="form-group voucher_date">
                                    <label for="{{ form.voucher_date.id_for_label }}">
                                        {{ form.voucher_date.label }}

                                        {% if form.voucher_date.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.voucher_date }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.voucher_number.id_for_label }}">
                                        {{ form.voucher_number.label }}

                                        {% if form.voucher_number.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.voucher_number }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">
                                        {{ form.title.label }}

                                        {% if form.title.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.title }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.warehouse.id_for_label }}">
                                        {{ form.warehouse.label }}

                                        {% if form.warehouse.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.warehouse }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.account_head.id_for_label }}">
                                        {{ form.account_head.label }}

                                        {% if form.account_head.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.account_head }}
                                </div>
                            </div>

                            <div class="col-md-4 customer-div">
                                <div class="form-group">
                                    <label for="{{ form.customer.id_for_label }}">
                                        {{ form.customer.label }}

                                        {% if form.customer.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.customer }}
                                </div>
                            </div>
                            <div class="col-md-4 vendor-div">
                                <div class="form-group">
                                    <label for="{{ form.vendor.id_for_label }}">
                                        {{ form.vendor.label }}

                                        {% if form.vendor.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.vendor }}
                                </div>
                            </div>
                            <input type="hidden" id="id_sub_ledger">
                            <div class="col-md-4 supplier-div">
                                <div class="form-group">
                                    <label for="{{ form.supplier.id_for_label }}">
                                        {{ form.supplier.label }}

                                        {% if form.supplier.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.supplier }}
                                </div>
                            </div>
                            <div class="col-md-4 delivery_agent-div">
                                <div class="form-group">
                                    <label for="{{ form.delivery_agent.id_for_label }}">
                                        {{ form.delivery_agent.label }}

                                        {% if form.delivery_agent.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.delivery_agent }}
                                </div>
                            </div>
                            <div class="col-md-4 balance">
                                <div class="form-group fg-line">
                                    <label for="id_balance">Balance <span class="balance_label"></span></label>
                                    <input id='id_balance' data-model='' readonly name='balance' class='selectpicker form-control'>
                                </div>
                                <br>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">
                                        {{ form.description.label }}

                                        {% if form.description.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.description }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.amount.id_for_label }}">
                                        {{ form.amount.label }}

                                        {% if form.amount.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.amount }}
                                </div>
                            </div>
                            <div class="col-md-4 transfer_type">
                                <div class="form-group transfer_type">
                                    <label for="{{ form.transfer_type.id_for_label }}">
                                        {{ form.transfer_type.label }}

                                        {% if form.transfer_type.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.transfer_type }}
                                </div>
                            </div>
                            <div class="col-md-4 bank">
                                <div class="form-group">
                                    <label for="{{ form.bank.id_for_label }}">
                                        {{ form.bank.label }}

                                        {% if form.bank.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.bank }}
                                </div>
                            </div>
                            <div class="col-md-4 cheque_number">
                                <div class="form-group cheque_number">
                                    <label for="{{ form.cheque_number.id_for_label }}">
                                        {{ form.cheque_number.label }}

                                        {% if form.cheque_number.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.cheque_number }}
                                </div>
                            </div>
                            <div class="col-md-4 cheque_date">
                                <div class="form-group cheque_date">
                                    <label for="{{ form.cheque_date.id_for_label }}">
                                        {{ form.cheque_date.label }}

                                        {% if form.cheque_date.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.cheque_date }}
                                </div>
                            </div>
                            <div class="col-md-4 draft_number">
                                <div class="form-group draft_number">
                                    <label for="{{ form.draft_number.id_for_label }}">
                                        {{ form.draft_number.label }}

                                        {% if form.draft_number.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.draft_number }}
                                </div>
                            </div>
                            <div class="col-md-4 draft_date">
                                <div class="form-group draft_date">
                                    <label for="{{ form.draft_date.id_for_label }}">
                                        {{ form.draft_date.label }}

                                        {% if form.draft_date.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.draft_date }}
                                </div>
                            </div>
                            <div class="col-md-4 transfer_number">
                                <div class="form-group transfer_number">
                                    <label for="{{ form.transfer_number.id_for_label }}">
                                        {{ form.transfer_number.label }}

                                        {% if form.transfer_number.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.transfer_number }}
                                </div>
                            </div>
                            <div class="col-md-4 transfer_date">
                                <div class="form-group transfer_date">
                                    <label for="{{ form.transfer_date.id_for_label }}">
                                        {{ form.transfer_date.label }}

                                        {% if form.transfer_date.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.transfer_date }}
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block static %}
{% load static %}
{{form.media}}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=text]').focus(function () {
            $(this).select();
        });

        // $('#id_transfer_type option[value=10]').prop('selected', true);
        $('#id_transfer_type option[value=30]').remove();
        $('.balance').hide()
        TransferTypeChanged();
        showSubLedger()

    });

    function TransferTypeChanged() {
        var transfer_type = $("#id_transfer_type").val();
        if (transfer_type == 10) {
            $('.bank').hide()
            $('.cash').show()
            $('.cheque_number').hide()
            $('.cheque_date').hide()
            $('.draft_number').hide()
            $('.draft_date').hide()
            $('.transfer_number').hide()
            $('.transfer_date').hide()
        } else if (transfer_type == 15) {
            $('.cash').hide()
            $('.bank').show()
            $('.cheque_number').show()
            $('.cheque_date').show()
            $('.draft_number').hide()
            $('.draft_date').hide()
            $('.transfer_number').hide()
            $('.transfer_date').hide()
        } else if (transfer_type == 20) {
            $('.cash').hide()
            $('.bank').show()
            $('.cheque_number').hide()
            $('.cheque_date').hide()
            $('.draft_number').show()
            $('.draft_date').show()
            $('.transfer_number').hide()
            $('.transfer_date').hide()
        } else if (transfer_type == 25) {
            $('.cash').hide()
            $('.bank').show()
            $('.cheque_number').hide()
            $('.cheque_date').hide()
            $('.draft_number').hide()
            $('.draft_date').hide()
            $('.transfer_number').show()
            $('.transfer_date').show()
        }
    }

    $(document).on("change keyup", "#id_transfer_type", function () {
        TransferTypeChanged();
    });

    function showSubLedger() {
        var account_head = $('#id_account_head').attr('data-name');
        console.log("yyyyyy",account_head)
        var url = '';
        var model = '';
        var item = null;

        if (!account_head) {
            account_head = $('#id_account_head option:selected').text();
        }

        $('.customer-div, .vendor-div, .delivery_agent-div, .supplier-div').hide();
        $('.current_balance, .sub_ledger.col-sm-3').hide();

        if (account_head == "Sundry Debtor (Customer)") {
            // $('.sub_ledger.col-sm-3').show();
            $('.current_balance, .balance').show();
            url = "{% url 'customers:get_customers' %}";
            $('.customer-div').show();
            model = 'Customer';
            item = '.customer-div select';
        }

        else if (account_head == "Sundry Creditor (Vendor)") {
            // $('.sub_ledger.col-sm-3').show();
            $('.current_balance, .balance').show();
            url = "{% url 'vendors:get_vendors' %}";
            $('.vendor-div').show();
            model = 'Vendor';
            item = '.vendor-div select';
        }

        else if (account_head == "Sundry Creditor (Delivery Agent)") {
            // $('.sub_ledger.col-sm-3').show();
            $('.current_balance, .balance').show();
            url = "{% url 'vendors:get_vendors' %}";
            $('.delivery_agent-div').show();
            model = 'DeliveryAgent';
            item = '.delivery_agent-div select';
        }
        else if (account_head == "Sundry Creditor (Supplier)") {
            // $('.sub_ledger.col-sm-3').show();
            $('.current_balance, .balance').show();
            url = "{% url 'vendors:get_vendors' %}";
            $('.supplier-div').show();
            model = 'Supplier';
            item = '.supplier-div select';
        }


        $('#id_sub_ledger').attr('data-model', model)

        // {% if is_edit %}
        if(item)
            $(item).change();
        // {% endif %}

        // getSubLedgerData(url)
    }

    function getSubLedgerData(id) {
        url = "{% url 'finance:get_account_head' %}";
        if (id != '') {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id:id,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == "true") {
                        var model = data['model']

                        var instances = data['instances']
                        var sub_ledger = `<option value=''>----------</option>`;

                        for (i = 0; i < instances.length; i++) {
                            if ("{{form.sub_ledger.value}}" == instances[i]['pk']) {
                                sub_ledger += `<option selected value='${instances[i]['pk']}'>${instances[i]['name']} </option>`
                            }
                            else {
                                console.log("{{form.sub_ledger.value}}");
                                sub_ledger += `<option value='${instances[i]['pk']}'>${instances[i]['name']} </option>`
                            }
                        }
                        $('#id_sub_ledger').attr('data-model', model).html(sub_ledger).selectpicker('refresh');
                        $('#id_sub_ledger').trigger('change');
                    }
                },
                error: function (data) { }
            });
        }
    }

    $(document).on('change keyup', '#id_amount', function () {
        let current_balance = parseFloat($("#id_balance").val())
        let balance_type = $("#id_balance").attr('data-balance-type')
        let amount = parseFloat($("#id_amount").val())

        if (current_balance && amount) {
            if (balance_type == 'credit')
                balance = current_balance - amount
            else
                balance = current_balance + amount

            $('#balance').siblings('label').text("Balance")
            balance = Math.round(balance * 100) / 100
            $('#balance').val(balance)
        }
    })

    $('#id_account_head').on('change keyup', function () {
        $this = $(this);
        console.log($this.val(),"UVAIS")
        var id = $this.val()
        // getSubLedgerData(id)
        showSubLedger();
        // get_current_balance($this);
    });

    $('#id_sub_ledger, #id_customer, #id_vendor, #id_delivery_agent, #id_supplier').change(function () {
        var who = $('#id_sub_ledger').attr('data-model');
        var name = $(this).find('option:selected').text();
        var pk = $(this).val();
        $('#id_sub_ledger').html(`<option value="${pk}" selected>${name}</option>`);

        if (who == 'Vendor') {
            let vendor = $(this).val();
            let url = "{% url 'vendors:get_balance' %}";
            getBalanceData(url, vendor);
        }
        else if (who == 'Customer') {
            let customer = $(this).val();
            let url = "{% url 'customers:get_balance' %}";
            getBalanceData(url, customer);
        }
        else if (who == 'Supplier') {
            let supplier = $(this).val();
            let url = "{% url 'suppliers:get_balance' %}";
            getBalanceData(url, supplier);
        }

    })

    function getBalanceData(url, pk) {
        if (pk) {
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: {
                    id: pk,
                },
                success: function (data) {
                    var status = data['status'];
                    if (status == "true") {
                        var current_balance = data['current_balance'];
                        $('#id_balance').val(current_balance).attr('data-balance-type', '');
                        $('.balance_label').text('')

                    }
                },
                error: function (data) {

                }
            });
        }
        else {
            $('#id_balance').val(0).attr('data-balance-type', '');
            $('.balance_label').text('')
        }
    }

</script>

{% endblock %}