{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content -->
<div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
      <div class="row">
         <div class="col-sm-6">
            <h3 class="page-title">{{title|title}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">{{title|title}}</li>
            </ul>
         </div>
         <div class="col-auto float-right ml-auto">
            <h3 class="ah-label hidden-xs palette-White text">{{instance.product_code}}</h3>

            <ul class="personal-info row">
               {% if not instance.is_deleted %}
               <li class="col">
                  <a title="Edit Special Variant" href="{% url 'products:update_special_variant' pk=instance.pk %}" class="btn btn-sm btn-soft-warning edit-icon">
                     <i class="las la-pen"></i>
                  </a>
               </li>
               <li class="col">
                  <a title="Delete Special Variant" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}"
                     data-title="Are you sure?" href="{% url 'products:delete_special_variant' pk=instance.pk %}"
                     class="action-button redirect delete-icon edit-icon btn btn-sm btn-soft-danger">
                     <i class="las la-trash-alt"></i>
                  </a>
               </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <!-- /Page Header -->

   <div class="tab-content">
      <!-- Profile Info Tab -->
      <div id="emp_profile" class="pro-overview tab-pane fade show active">
         <div class="row">
            <div class="col-sm-8">
               <div class="card">
                  <div class="card-header">
                     <h4>Product Special Variant Info <small></small></h4>
                  </div>

                  <div class="row">
                     <div class="col-sm-6 card-body">
                        <div class="list-group lg-alt c-overflow">
                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Product Name</div>
                                 <a href="{% url 'products:product' instance.created_variant.product_id %}">
                                    <small class="text-primary lgi-text">{{instance.created_variant.product.name}} | {{instance.created_variant.product.arabic_name}}</small>
                                 </a>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Brand</div>
                                 <small class="lgi-text">{{instance.created_variant.product.brand}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Product Warranty Details</div>
                                 <small class="lgi-text">{{ instance.created_variant.warranty|default:'-' }}</small>
                              </div>
                           </div>

                           <!-- <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Tax Percent </div>
                                 <small class="lgi-text">{{instance.created_variant.tax_percent}}</small>
                              </div>
                           </div> -->

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Colour Variation</div>
                                 <small class="lgi-text">{{instance.created_variant.colour_variation|default:'-' }}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Size Variation</div>
                                 <small class="lgi-text">{{instance.created_variant.size_variation|default:'-'}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Other Variation</div>
                                 <small class="lgi-text">{{instance.created_variant.other_variation|default:'-'}}</small>
                              </div>
                           </div>

                        </div>
                     </div>

                     <div class="col-sm-6 card-body">
                        <div class="list-group lg-alt c-overflow">

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Special Variant Name </div>
                                 <small class="lgi-text">{{instance.name}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Is shown as default </div>
                                 <small class="lgi-text">{{instance.created_variant.is_default|yesno|title}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Product Code </div>
                                 <small class="lgi-text">{{instance.product_code}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Customer Rating </div>
                                 <small class="lgi-text">{{instance.created_variant.current_rating}}</small>
                              </div>
                           </div>

                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Current Total Stock </div>
                                 <small class="lgi-text">{{instance.created_variant.total_stock}}</small>
                              </div>
                           </div>

                           {% if instance.created_variant.image %}
                           <div class="list-group-item media ">
                              <div class="media-body">
                                 <div class="lgi-heading">Image</div>
                                 <img src="{{instance.created_variant.image.crop.100x100}}" alt="Photo">
                              </div>
                           </div>
                           {% endif %}

                        </div>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                     <h4>Selected Variants</h4>
                  </div>
                  <div class="card-body">
                     {% if product_variants %}
                     <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                           <thead>
                              <tr>
                                 <th>Variant</th>
                                 <th>Product Code</th>
                                 <th>In stock</th>
                                 <th>Variations</th>
                                 <th>Wholesale Quantity</th>
                                 <th>wholesale Price</th>
                                 <th>Retail Price</th>
                                 <th>Offer Price</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for variant_item in product_variants %}
                              <tr>
                                 <td>
                                    <a class="text-primary" href="{% url 'products:view_variant' variant_item.pk %}">{{variant_item.title}}</a>
                                    {% if variant_item.is_default %} (Default){% endif %}
                                 </td>
                                 <td>{{variant_item.product_code}}</td>
                                 <td>
                                    {% if variant_item.stock <= variant_item.low_stock_limit %}
                                       <span class="badge badge-danger font-weight-bold">
                                          {{variant_item.total_stock}}
                                       </span>
                                    {% else %}
                                       <span class="badge badge-success font-weight-bold">
                                          {{variant_item.stock}}
                                       </span>
                                    {% endif %}
                                 </td>
                                 <td>{{ variant_item.colour_variation|default:'' }} {{variant_item.size_variation|default:'' }} {{variant_item.other_variation|default:'' }}</td>
                                 <th>{{variant_item.whole_sale_quantity}}</th>
                                 <td>{{variant_item.whole_sale_price}}</td>
                                 <th>{{variant_item.mrp}}</th>
                                 <td>{{variant_item.retail_price}}</td>

                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                     {% else %}
                     <h5>No Stock Available</h5>
                     {% endif %}
                  </div>
               </div>
            </div>

            <div class="col-sm-4">
               <div class="card">
                  <div class="card-header">
                     <h4>Price Info <small></small></h4>
                  </div>

                  <div class="card-body">
                     <div class="list-group lg-alt c-overflow">

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Actual Price</div>
                              <small class="lgi-text">{{instance.actual_price}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Retail Price</div>
                              <small class="lgi-text">{{instance.amount}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Wholesale Quantity</div>
                              <small class="lgi-text">{{instance.created_variant.whole_sale_quantity }}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Wholesale Price</div>
                              <small class="lgi-text">{{instance.created_variant.whole_sale_price }}</small>
                           </div>
                        </div>

                     </div>
                  </div>

               </div>

               <div class="card">
                  <div class="card-header">
                     <h4>Basic Info <small></small></h4>
                  </div>

                  <div class="card-body">
                     <div class="list-group lg-alt c-overflow">

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Creator </div>
                              <small class="lgi-text">{{instance.creator}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Date Added </div>
                              <small class="lgi-text">{{instance.date_added|date:"d, M Y P"}}</small>
                           </div>
                        </div>

                        {% if instance.is_deleted %}

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Deleted By </div>
                              <small class="lgi-text">{{instance.updater}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Deleted Date </div>
                              <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Deleted Reason </div>
                              <small class="lgi-text">{{instance.deleted_reason}}</small>
                           </div>
                        </div>

                        {% else %}

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Updater </div>
                              <small class="lgi-text">{{instance.updater}}</small>
                           </div>
                        </div>

                        <div class="list-group-item media ">
                           <div class="media-body">
                              <div class="lgi-heading">Date Updated </div>
                              <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                           </div>
                        </div>

                        {% endif %}

                     </div>
                  </div>

               </div>
            </div>

         </div>
      </div>
      <!-- /Profile Info Tab -->
   </div>

   <div class="row">

      <div class="col-md-6 sales col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <h4>Sales</h4>
            </div>
            <div class="card-body">
               {% if sale_items %}
               <div class="table-responsive">
                  <table id="data-table-basic" class="table table-striped table-vmiddle">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Customer</th>
                           <th>Sale Date</th>
                           <th>Quantity</th>
                           <th>Price</th>
                           <th>Total</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in sale_items %}
                        <tr>
                           <td>
                              <a class="text-primary" href="{% url 'sales:sale' i.sale_id %}">{{i.sale.sale_id}}</a>
                           </td>
                           <td>
                              <a class="text-primary" href="{% url 'customers:customer' i.sale.customer_id %}">{{i.sale.customer}}</a>
                           </td>
                           <td>{{ i.sale.date_added }}</td>
                           <td>{{ i.quantity }}</td>
                           <td>{{ i.amount|default:"0.00" }}</td>
                           <td>{{ i.total|default:"0.00" }}</td>
                        </tr>
                        {% endfor %}

                     </tbody>
                  </table>
               </div>
               {% else %}
               <h5>No sales added yet</h5>
               {% endif %}
            </div>
         </div>
      </div>

      <div class="col-md-6 orders col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <h4>Online Orders</h4>
            </div>
            <div class="card-body">
               {% if order_items %}
               <div class="table-responsive">
                  <table id="data-table-basic" class="table table-striped table-vmiddle">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Customer</th>
                           <th>Order Date</th>
                           <th>Order Status</th>
                           <th>Quantity</th>
                           <th>Price</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in order_items %}
                        <tr>
                           <td>
                              <a class="text-primary" href="{% url 'orders:order' i.order_id %}">{{i.order.order_id}}</a>
                           </td>
                           <td>
                              <a class="text-primary" href="{% url 'customers:customer' i.order.customer_id %}">{{i.order.customer}}</a>
                           </td>
                           <td>{{ i.order.date_added }}</td>
                           <td>{{ i.order.get_order_status_display }}</td>
                           <td>{{ i.qty }}</td>
                           <td>{{ i.price|default:"0.00" }}</td>
                        </tr>
                        {% endfor %}

                     </tbody>
                  </table>
               </div>
               {% else %}
               <h5>No Orders yet</h5>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Page Content -->

{% endblock %}
{% block static %}
{% load static %}

<script type="text/javascript">

   // {% if current_role == "vendor_user" %}
   $(document).on('change click', '#UpdateStockModalButton', function (e) {
      e.preventDefault();
      url = $(this).attr('href');

      if (url != undefined && url != null && url != "") {
         $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            success: function (data) {
               console.log(data);
               var status = data['status'];
               if (status == 'true') {
                  var modal = data['modal'];
                  $('#UpdateStockModal').remove();
                  $('body').append(modal)
                  $('#UpdateStockModal').modal('show');
               }

            },
            error: function (data) {
            }
         })
      }
      else {
         console.log("Error")
      }
   });
   // {% endif %}

</script>

{% endblock %}