{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center mb-4" style="height: 200px;">
                            <img src="{% static 'web/images/placeholder.jpg' %}" class="h-100  banner-rep"
                                 style="object-fit: cover" alt="">
                            <p class="text-center resolution-size">Please select a banner size</p>
                        </div>
                    </div>
                    <form action="{{url}}" method="post" class="ajax redirect">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.banner_type.id_for_label }}">
                                        Select the Banner Type
                                        {% if form.banner_type.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.banner_type }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.offer_type.id_for_label }}">
                                        Select the Offer type
                                        {% if form.offer_type.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.offer_type }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% if instance.offer_type == 'product' %}
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="{{ form.product_variant.id_for_label }}">
                                        Select the Product variant
                                        {% if form.product_variant.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.product_variant }}
                                </div>
                            </div>
                            {% elif instance.offer_type == 'category' %}

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="{{ form.category.id_for_label }}">
                                        Select the Category
                                        {% if form.category.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.category }}
                                </div>
                            </div>

                            {% elif instance.offer_type == 'brand' %}

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.brand.id_for_label }}">
                                        Select the Brand
                                        {% if form.brand.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.brand }}
                                </div>
                            </div>

                            {% endif %}

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="{{ form.image.id_for_label }}">
                                        Pick the Offer image
                                        {% if form.image.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.image }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="preview">
                                    <img id="file-ip-1-preview">
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block static %}
{{ form.media }}
<style>
    .preview img{
        width: 350px;
    }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus{
        background: #1761fd !important;
        color: #fff !important;
    }
</style>
<script src="{% static 'web/js/banner.js' %}"></script>
<script>
    $("#id_image").change(function(event){
            if(event.target.files.length > 0){
              var src = URL.createObjectURL(event.target.files[0]);
              var preview = document.getElementById("file-ip-1-preview");
              preview.src = src;
              preview.style.display = "block";
            }
          
        //alert("The text has been changed.");
      }); 
</script>
{% endblock %}