{% extends 'base.html' %}
{% block content %}

<!-- Page Content -->
<div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
      <div class="row">
         <div class="col">
            <h3 class="page-title">{{title|title}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">{{title|title}}</li>
            </ul>
         </div>
         <div class="col-auto float-right ml-auto">
            <h3 class="ah-label hidden-xs palette-White text">{{instance.auto_id}} - {{instance.name}} -
               {{instance.phone}}</h3>

            <ul class="personal-info row">
               <li class="col">
                  <a title="Create new Supplier" href="{% url 'suppliers:create_supplier' %}"
                     class="btn btn-sm btn-soft-success">
                     <i class="las la-plus"></i>
                  </a>
               </li>

               <li class="col">
                  <a title="Edit Supplier" href="{% url 'suppliers:edit_supplier' pk=instance.pk %}" class="btn btn-sm btn-soft-primary">
                     <i class="las la-pen"></i>
                  </a>
               </li>
               <li class="col">
                  <a title="Delete Supplier" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}"
                     data-title="Are you sure?" href="{% url 'suppliers:delete_supplier' pk=instance.pk %}"
                     class="action-button redirect btn btn-sm btn-soft-danger">
                     <i class="las la-trash"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <!-- /Page Header -->

   <div class="tab-content">
      <!-- Profile Info Tab -->
      <div id="c-grid" class="col-sm-12 clearfix" data-columns="2">
         <div class="card">
            <div class="card-header">
               <h4>Supplier Info <small></small></h4>
            </div>

            <div class="card-body">
               <div class="row">

                  <div class="list-group lg-alt c-overflow col-md-6">
                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Name</div>
                           <small class="lgi-text">{{instance.name}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Phone </div>
                           <small class="lgi-text">{{instance.phone}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Email </div>
                           <small class="lgi-text">{{instance.email}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Address </div>
                           <small class="lgi-text">{{instance.address}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Current Balance({{instance.get_balance_data.balance_type}}) : </div>
                           <small class="lgi-text">{{instance.get_balance_data.balance}}</small>
                        </div>
                     </div>
                  </div>

                  <div class="list-group lg-alt c-overflow col-md-6">
                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Country </div>
                           <small class="lgi-text">{{instance.country}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">State </div>
                           <small class="lgi-text">{{instance.state}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">District </div>
                           <small class="lgi-text">{{instance.district}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Credit Limit </div>
                           <small class="lgi-text">{{instance.credit_limit}}</small>
                        </div>
                     </div>
                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Debit Limit </div>
                           <small class="lgi-text">{{instance.debit_limit}}</small>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>

         <!-- /Page Content -->
      </div>

      <div class="row">
         <div class="col-sm-6">
            <div class="card">
               <div class="card-header">
                  <h4>Basic Info <small></small></h4>
               </div>

               <div class="card-body">
                  <div class="list-group lg-alt c-overflow">

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Creator </div>
                           <small class="lgi-text">{{instance.creator}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Date Added </div>
                           <small class="lgi-text">{{instance.date_added|date:"d, M Y P"}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Updater </div>
                           <small class="lgi-text">{{instance.updater}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Date Updated </div>
                           <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                        </div>
                     </div>

                  </div>
               </div>

            </div>
         </div>
         <div class="col-sm-6">
            <div class="card">
               <div class="card-header">
                  <h4>Bank Info <small></small></h4>
               </div>

               <div class="card-body">
                  <div class="list-group lg-alt c-overflow">
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Bank Name</div>
                           <small class="lgi-text">{{instance.bank_name}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Branch </div>
                           <small class="lgi-text">{{instance.branch}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Bank Account name </div>
                           <small class="lgi-text">{{instance.bank_account_name}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">IFSC Code </div>
                           <small class="lgi-text">{{instance.ifsc_code}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Account No </div>
                           <small class="lgi-text">{{instance.account_num}}</small>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         {% if purchase_instances %}
         <div class="col-lg-6">
            <div class="card ">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h4 class="card-title">Purchase</h4>
                     </div><!--end col-->
                  </div>  <!--end row-->
               </div><!--end card-header-->
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table mb-0">
                        <thead class="thead-light">
                              <tr>
                                 <th class="border-top-0">Purchase Number</th>
                                 <th class="border-top-0">Date</th>
                                 <th class="border-top-0">Warehouse</th>
                                 <th class="border-top-0">Subtotal</th>
                              </tr><!--end tr-->
                        </thead>
                        <tbody>
                           {% for purchase in purchase_instances %}
                              <tr>
                                 <td>
                                    <a href="{% url 'purchases:purchase' purchase.pk %}" class="text-primary lgi-text">{{ purchase.purchase_id }}</a>
                                 </td>
                                 <td>{{ purchase.date }}</td>
                                 <td>{{ purchase.warehouse }}</td>
                                 <td>{{ purchase.subtotal }}</td>
                              </tr><!--end tr-->
                           {% endfor %}
                        </tbody>
                     </table> <!--end table-->
                  </div><!--end /div-->
               </div><!--end card-body-->
            </div>
         </div>
         {% endif %}

         {% if receipt_instances %}
         <div class="col-lg-6">
            <div class="card ">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col">
                           <h4 class="card-title">Receipt Voucher</h4>
                     </div><!--end col-->
                  </div>  <!--end row-->
               </div><!--end card-header-->
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table mb-0">
                        <thead class="thead-light">
                              <tr>
                                 <th class="border-top-0">Voucher Number</th>
                                 <th class="border-top-0">Title</th>
                                 <th class="border-top-0">Date</th>
                                 <th class="border-top-0">Amount</th>
                              </tr><!--end tr-->
                        </thead>
                        <tbody>
                           {% for receipt in receipt_instances %}
                              <tr>
                                 <td>
                                    <a href="{% url 'finance:receipt_voucher' receipt.pk %}" class="text-primary lgi-text">{{ receipt.voucher_number }}</a>
                                 </td>
                                 <td>{{ receipt.title }}</td>
                                 <td>{{ receipt.voucher_date }}</td>
                                 <td>{{ receipt.amount }}</td>

                              </tr><!--end tr-->
                           {% endfor %}
                        </tbody>
                     </table> <!--end table-->
                  </div><!--end /div-->
               </div><!--end card-body-->
            </div>
         </div>
         {% endif %}

         {% if payment_instances %}
         <div class="col-lg-6">
            <div class="card ">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col">
                           <h4 class="card-title">Payment Voucher</h4>
                     </div><!--end col-->
                  </div>  <!--end row-->
               </div><!--end card-header-->
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table mb-0">
                        <thead class="thead-light">
                              <tr>
                                 <th class="border-top-0">Voucher Number</th>
                                 <th class="border-top-0">Title</th>
                                 <th class="border-top-0">Date</th>
                                 <th class="border-top-0">Amount</th>
                              </tr><!--end tr-->
                        </thead>
                        <tbody>
                           {% for payment in payment_instances %}
                              <tr>
                                 <td>
                                    <a href="{% url 'finance:payment_voucher' payment.pk %}" class="text-primary lgi-text">{{ payment.voucher_number }}</a>
                                 </td>
                                 <td>{{ payment.title }}</td>
                                 <td>{{ payment.voucher_date }}</td>
                                 <td>{{ payment.amount }}</td>

                              </tr><!--end tr-->
                           {% endfor %}
                        </tbody>
                     </table> <!--end table-->
                  </div><!--end /div-->
               </div><!--end card-body-->
            </div>
         </div>
         {% endif %}
      </div>
   </div>

</div>
<!-- /Page Content -->

{% endblock %}
{%block static%}
<style>
   .row li {
      text-align: end;
   }
     
</style>
{% endblock%}