{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    
                    
                    <div class="col-auto align-self-center">
                        <div class="col-auto float-right ml-auto">
                            <button title="Filter" data-toggle="modal" data-target="#modal_aside_right" type="button" class="btn btn-sm btn-soft-primary"><i class="fa fa-align-center mr-2"></i>Filter</button>
                        </div>
                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'products:create_category' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Category
                        </a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

    <div class="table-responsive">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Featured</th>
                    <th>Subcategories</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% load el_pagination_tags %}
                {% paginate 20 instances %}
                {% for category in instances %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.is_featured|yesno|title }}</td>
                    <td>{{ category.sub_category_names }}</td>
                    <td class="text-right">
                        <a href="{% url 'products:category' pk=category.pk %}"><i
                                class="las la-eye text-info font-18"></i></a>
                        <a href="{% url 'products:edit_category' pk=category.pk %}"><i
                                class="las la-pen text-info font-18"></i></a>
                        <a data-id="{{ category.pk }}" class="action-button reload remove"
                            href="{% url 'products:delete_category' pk=category.pk %}"
                            data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                class="las la-trash-alt text-danger font-18"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <!--end /table-->
        {% get_pages %}
        <div class="clearfix"></div>
        <div class="row pagi my-3">
            <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
            <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                <div class="m-t-10">
                    Showing {{title}}
                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                        class="total_count">{{ pages.total_count }}</span>
                </div>
            </div>
        </div>
    </div>
    <!--end /tableresponsive-->
</div>
<!-- /Page Content -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get" action="{% url 'products:categories' %}">
                <div class="modal-body">
                    <div class="form-group fg-line">
                        <label class="bmd-label-floating">Search</label>
                        <input name="q" type="text" class="form-control" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div> <!-- modal-bialog .// -->

{% endblock %}