{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">
                        {% comment %} <a href="forms-advanced.html#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                            <span class="" id="Select_date">Jan 11</span>
                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                        </a> {% endcomment %}
                        {% comment %} <a href="forms-advanced.html#" class="btn btn-sm btn-outline-primary">
                            <i data-feather="download" class="align-self-center icon-xs"></i>
                        </a> {% endcomment %}
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <form action="{{url}}" method="post" enctype="multipart/form-data" class="ajax redirect">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">
                                        {{ form.name.label }}

                                        {% if form.name.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.image.id_for_label }}">
                                        {{ form.image.label }}

                                        {% if form.image.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.image }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- <div class="form-group">
                                    <label for="{{ form.arabic_name.id_for_label }}">
                                        {{ form.arabic_name.label }}

                                        {% if form.arabic_name.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.arabic_name }}
                                </div> -->

                                <div class="form-group custom-control custom-switch switch-primary " style="margin-bottom: 0;margin-top: 30px;">
                                    <input class="custom-control-input" {% if form.is_featured.value %}checked{% endif %} type="checkbox" id="id_is_featured" name="is_featured" />
                                    <label class="ts-helper" for="ts1">&nbsp;</label>
                                    <label for="id_is_featured" class="custom-control-label ts-label mb-3">
                                        <span>Is Featured</span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                        </div>
                        <div class="text-left">
                            <h6 class="text-primary" id="heading">NB: Add Png images without background for better UI experience</h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    let name_input = document.getElementById("id_name")
    name_input.addEventListener("input", function () {
        var inputValue = $(this).val();
        var sanitizedValue = inputValue.replace(/[^a-zA-Z\s]/g, '');
        sanitizedValue = sanitizedValue.substring(0, 30);
        $(this).val(sanitizedValue);

    } );

</script>

{% endblock %}
{% block static %}
{{ form.media }}
{% endblock %}