{% extends "web/web_base.html" %}
{% load static %}
{% load i18n %}
{% load web_template_tags %}

{% block content %}

<div class="main-container">
  <section class="bottomCards" style="padding-top: 100px;">
    <div class="wrapper container">
      <div class="SectionTitle">
        <h1>Products</h1>
      </div>
      <div class="cards">
        <div class="FPProductsCards boxitems {% if variants %}infinite-container{% endif %}">
          {% if variants %}

          {% for i in variants %}
          <div class="item infinite-item">
            <span class="wishlist" id="{{ i.pk }}">
              <button data-id="add-to-wishlist" class="{% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ i.pk }}"
                data-toggle="tooltip"
                href="{% url 'web:add_to_wishlist' %}"
                id="wish-empty"
                style="cursor: pointer;" title="Wish List" type="button">
                  <img
                    data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}"
                    data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}"
                    src="{% if i.pk in wishlist_items %}{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %} {% else %} {% static 'web/images/icons/wish-list-empty.svg' %}{% endif %}"  alt="Image" />

              </button>
            </span>
            <div class="item-img">
              <a href="{% url 'web:product' pk=i.pk %}">
                {% if i.image %}
                <img src="{{i.image.thumbnail.200x200}}" alt="Image" />
                {% else %}
                <img src="{% static 'web/images/placeholder.jpg' %}" style="width:200px;" alt="Image" />
                {% endif %}
              </a>
            </div>
            <a href="{% url 'web:product' pk=i.pk %}">
              <h1>
                {% get_english_or_arabic i.pk 'product' language_code as PRODUCT %}
                {{ PRODUCT.name|truncatechars:35 }}
              </h1>
            </a>
            <div class=item-bottom>
              <div class="box">

                <div class style="display: flex">
                  {% if i.offer_price %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{i.offer_price}}</h2>
                {% else %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{i.retail_price}}</h2>
                {% endif%}
                {% if i.offer_price %}
                    <h2 class="text-decoration-underline">{{i.retail_price}}</h2>
                {% elif i.retail_price < i.mrp %}
                    <h2 class="text-decoration-underline">{{i.mrp}}</h2>
                {% endif %}
                </div>
                <span class="rating">
                  {% if prod.current_rating > 0 %}
                  <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
                  <h4>{{prod.current_rating|floatformat:"1"}}</h4>
                  {% endif %}
                </span>
              </div>
                {% if zone_session %}
                {% if not i.pk in is_cart %}

                <div class="cart">
                  <a class="add-to-cart-button {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ i.pk }}" data-url="" href="{% url 'web:add_to_cart' %}" data-image="{% static 'web/images/icons/cart-added-Icon.svg' %}">
                    <img class=""  src="{% static 'web/images/icons/add-to-cart-2.svg' %}"  alt="Image" />
                  </a>
                </div>

                {% else %}
                <div class="added-cart" style="background: none;">
                  <a class=" {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ i.pk }}" data-url="" href="javascript:void(0)">
                    <img class="" src="{% static 'web/images/icons/cart-added-Icon.svg' %}" alt="Image" />
                  </a>
                </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="loading" style="display: none;">
          <img src="{% static 'web/logo/loading.gif' %}" alt="Image" />
        </div>
      </div>

      {% if variants %}

      {% if variants.has_next %}
        <a class="infinite-more-link" href="?page={{ variants.next_page_number }}"></a>
      {% endif %}

      {% comment %}
      <div class="pagination">
        {% show_pages %}
      </div>
      {% endcomment %}

      {% else %}

      <div class="empty-cards">
        <div class="empty-box">
          <img src="{% static 'web/images/empty-product.png' %}" alt="Image" />
          <h4>Oops</h4>
          <p>There's no products available here.</p>
        </div>
      </div>
      {% endif %}

    </div>
  </section>

  {% if not is_search %}
  {% if shop_instances %}
  <section id="shops-home-page">
    <section class="wrapper container">
      <div class="title">
        <h3> {% trans "Shops" %}</h3>
      </div>
      <div class="shop-lists-container">
        <div class="shop-cards category_slider_card">
          {% for i in shop_instances %}
          <div class="shop-item">
            <div class="image-box">
              {% if i.image %}
               <img src="{{i.image.thumbnail.200x200}}" alt="Image" />
              {% else %}
               <img src="{% static 'web/images/placeholder.jpg' %}" alt="Image"/>
              {% endif %}
            </div>
            <div class="content-box">
              <div class="shop-name-box">
                <h4>{% get_english_or_arabic i.pk 'shop' language_code %}</h4>
                <!-- <div class="rating-box">
                    <div class="rating-icon-box">
                      <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
                    </div>
                   <h4>{{ i.current_rating|floatformat:"1" }} 4.5</h4>
                </div> -->
              </div>
              <div class="bottom-box">
                <div class="location-box">
                  <div class="location-img-container">
                    <img alt="location-icon" src="{% static 'web/images/icons/Icon material-location-on.svg' %}"  alt="Image" />
                  </div>
                  <h5>
                    {% get_english_or_arabic i.zone.pk 'location' language_code %}
                  </h5>
                </div>
                <a class="button" href="{% url 'web:shop' pk=i.pk %}">{% trans "Shop Now" %}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </section>
  {% endif %}
  {% endif %}

  {% if offer_instance %}

<section id="offer">
  <section class="wrapper container">
    <div class="container">
        <a href="#">
          {% if offer_instance.image %}
            {% if offer_instance.product_variant %}
                <a href="{% url 'web:product' pk=offer_instance.product_variant.pk %}">
                    <img src="{{offer_instance.image.url}}" alt="Image" />
                </a>
            {% elif offer_instance.category %}
                <a href="{% url 'web:category' pk=offer_instance.category.pk %}">
                    <img src="{{offer_instance.image.url}}" alt="Image" />
                </a>
            {% else %}
                <img src="{{offer_instance.image.url}}" alt="Image" />
            {% endif %}
          {% else %}
            <img src="{% static 'web/images/placeholder.jpg' %}" alt="Image" />
          {% endif %}
        </a>
    </div>
  </section>
</section>

{% endif %}

</div>
<style>
  @media all and (max-width: 768px) {

    .bottomCards {
      padding-top: 0px !important;
    }
  }
</style>

<script>
        function slide(direction){
          var container = document.getElementById('HorizondelScrollingCard');
          scrollCompleted = 0;
          var slideVar = setInterval(function(){
            if(direction == 'left'){
                container.scrollLeft -= 10;
            } else {
                container.scrollLeft += 10;
            }
            scrollCompleted += 10;
                if(scrollCompleted >= 100){
                    window.clearInterval(slideVar);
                }
            },
          50);
        }

</script>

{% endblock content %}
