{% extends "web/web_base.html" %}
{% load static %}
{% load i18n %}
{% load web_template_tags %}
{% block content %}


<section id="spotlight">
  {% if primary_banners %}
  <section class="spotlight-banner-wrapper">
    <div class="slider">
    {% for banner in primary_banners %}
      <a href="{{ banner.get_url }}">
        <img src="{{ banner.image.url }}"class="spotlight-wrapper" alt="Image" />
      </a>
    {% endfor %}

    </div>
  </section>
  {% endif %}
</section>

<div id="firstSlider" >
  <div class="wrapper container">
      <div class="left-arrow">
        <button aria-label="Previous" class="slick-prev slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-left"></span></button>
      </div>


    <div class="cards" id="slick-slider">

      {% for category in full_categories %}
      <div class="first-slider-card card">
        <a title="{{category}}" href="{% url 'web:category' pk=category.pk %}">
          <div class="horizondelSub-column">
            <div class="imageArea">
              {% if category.image %}
              <img alt="" src="{{category.image.url}}" alt="Image" />
              {% else %}
              <img alt="" src="{% static 'web/images/placeholder.jpg' %}" alt="Image" />
              {% endif %}
            </div>
            <div class="catogetryName">
              {{category}}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    
      <div class="right-arrow">
        <button aria-label="Next" class="slick-next slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-right"></span></button>
      </div>
  </div><!-- #category .wrapper -->
</div><!-- #category -->

{% if featured_products %}
<section class="boxitems " id="best-seller">
  <section class="wrapper container">
    <div class="top">
      <h1>{% trans "Featured Products" %}</h1>
    </div>
    <div class="bottom">
      {% for prod in featured_products %}
      <div class="item">
        <span class="wishlist" id="{{ prod.pk }}">

          <button data-id="add-to-wishlist" data-pk="{{ prod.pk }}" class="{% if not auth_status %}proceed_to_login {% endif %}" data-toggle="tooltip" href="{% url 'web:add_to_wishlist' %}" id="wish-empty" style="cursor: pointer;" title="Wish List" type="button">
            <img data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}" data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}"
              src="{% if prod.pk in wishlist_items %}{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %} {% else %} {% static 'web/images/icons/wish-list-empty.svg' %}{% endif %}" alt="Image" />

          </button>
        </span>
        <div class="item-img">
          <a href="{% url 'web:product' pk=prod.pk %}">
            {% if prod.image and prod.image.url %}
            <img src="{{prod.image.url}}" height=200 width=200 class=0 alt="Image" />
            {% else %}
              <img src="{% static 'web/images/placeholder.jpg' %}" style="width:200px;" alt="Image" />
            {% endif %}
          </a>
        </div>
        <a href="{% url 'web:product' pk=prod.pk %}">
          <h1>
            {% get_english_or_arabic prod.pk 'product' language_code as prod_data %}
            {{prod_data.name | truncatechars:45}}
          </h1>
        </a>
        <div class=item-bottom>
          <div class="box">
            <div style="display: flex">
                {% if prod.offer_price %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.offer_price}}</h2>
                {% else %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.retail_price}}</h2>
                {% endif%}
                {% if prod.offer_price %}
                    <h2 class="text-decoration-underline">{{prod.retail_price}}</h2>
                {% elif prod.retail_price < prod.mrp %}
                    <h2 class="text-decoration-underline">{{prod.mrp}}</h2>
                {% endif %}
            </div>
            <span class="rating">
              {% if prod.current_rating > 0 %}
              <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
              <h4>{{prod.current_rating|floatformat:"1"}}</h4>
              {% endif %}
            </span>
          </div>
          {% if zone_session %}
          {% if not prod.pk in is_cart %}

          <div class="cart">
            <a class="add-to-cart-button {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="{% url 'web:add_to_cart' %}" data-image="{% static 'web/images/icons/cart-added-Icon.svg' %}">
              <img class=""  src="{% static 'web/images/icons/add-to-cart-2.svg' %}" alt="Image" />
            </a>
          </div>

          {% else %}
          <div class="added-cart" style="background: none;">
            <a class=" {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="javascript:void(0)">
              <img class="" src="{% static 'web/images/icons/cart-added-Icon.svg' %}" alt="Image" />
            </a>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </section>
</section>

{% endif %}

{% if best_sellers %}
<section class="boxitems " id="best-seller">
  <section class="wrapper container">
    <div class="top">
      <h1>{% trans "Best Sellers" %}</h1>
    </div>
    <div class="bottom">
      {% for prod in best_sellers %}
      <div class="item">
        <span class="wishlist" id="{{ prod.pk }}">

          <button data-id="add-to-wishlist" data-pk="{{ prod.pk }}" class="{% if not auth_status %}proceed_to_login {% endif %}" data-toggle="tooltip" href="{% url 'web:add_to_wishlist' %}" id="wish-empty" style="cursor: pointer;" title="Wish List" type="button">
            <img data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}" data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}"
              src="{% if prod.pk in wishlist_items %}{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %} {% else %} {% static 'web/images/icons/wish-list-empty.svg' %}{% endif %}" alt="Image" />

          </button>
        </span>
        <div class="item-img">
          <a href="{% url 'web:product' pk=prod.pk %}">
            {% if prod.image and prod.image.url %}
            <img src="{{prod.image.url}}" height=200 width=200 class=0 alt="Image" />
            {% else %}
              <img src="{% static 'web/images/placeholder.jpg' %}" style="width:200px;" alt="Image" />
            {% endif %}
          </a>
        </div>
        <a href="{% url 'web:product' pk=prod.pk %}">
          <h1>
            {% get_english_or_arabic prod.pk 'product' language_code as prod_data %}
            {{prod_data.name | truncatechars:45}}
          </h1>
        </a>
        <div class=item-bottom>
          <div class="box">
            <div style="display: flex">
                {% if prod.offer_price %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.offer_price}}</h2>
                {% else %}
                    <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.retail_price}}</h2>
                {% endif%}
                {% if prod.offer_price %}
                    <h2 class="text-decoration-underline">{{prod.retail_price}}</h2>
                {% elif prod.retail_price < prod.mrp %}
                    <h2 class="text-decoration-underline">{{prod.mrp}}</h2>
                {% endif %}
            </div>
            <span class="rating">
              {% if prod.current_rating > 0 %}
              <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
              <h4>{{prod.current_rating|floatformat:"1"}}</h4>
              {% endif %}
            </span>
          </div>
          {% if zone_session %}
          {% if not prod.pk in is_cart %}

          <div class="cart">
            <a class="add-to-cart-button {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="{% url 'web:add_to_cart' %}" data-image="{% static 'web/images/icons/cart-added-Icon.svg' %}">
              <img class=""  src="{% static 'web/images/icons/add-to-cart-2.svg' %}" alt="Image" />
            </a>
          </div>

          {% else %}
          <div class="added-cart" style="background: none;">
            <a class=" {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="javascript:void(0)">
              <img class="" src="{% static 'web/images/icons/cart-added-Icon.svg' %}" alt="Image" />
            </a>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </section>
</section>

{% endif %}

{% if offer_instance %}
<section id="offer">
  <section class="wrapper container">
    <div class="container">
      <a href="#">
        {% if offer_instance.image %}
            {% if offer_instance.product_variant %}
                <a href="{% url 'web:product' pk=offer_instance.product_variant.pk %}">
                    <img src="{{offer_instance.image.url}}" alt="Image" />
                </a>
            {% elif offer_instance.category %}
                <a href="{% url 'web:category' pk=offer_instance.category.pk %}">
                    <img src="{{offer_instance.image.url}}" alt="Image" />
                </a>
            {% else %}
                <img src="{{offer_instance.image.url}}" alt="Image" />
            {% endif %}
        {% endif %}
      </a>
    </div>
  </section>
</section>
{% endif %}

{% if offer_instances.count > 1 %}
  <section id="discount">
    <section class="wrapper container">
      <div class="container">
        {% for i in offer_instances %}
        <div class="item" style="position:relative;">
          <a href="#">
            {% if i.image %}
                {% if i.product_variant %}
                    <a href="{% url 'web:product' pk=i.product_variant.pk %}">
                        <img src="{{i.image.url}}" alt="Image" />
                        <div class="offer_item_text">Product: {{i.product_variant}}</div>
                    </a>
                {% elif i.category %}
                    <a href="{% url 'web:category' pk=i.category.pk %}">
                        <img src="{{i.image.url}}" alt="Image" />
                        <div class="offer_item_text">Category: {{i.category}}</div>
                    </a>
                {% else %}
                    <img src="{{i.image.url}}" alt="Image" />
                {% endif %}
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </section>
  {% endif %}
  <section>

  <section class="boxitems slideritem arrow-icons" id="grocery" {% if language_code == 'ar'%}  dir="ltr" {% endif %}>

    {% for featured_cat_instance in featured_cat_instances %}
    <section class="wrapper container">

      <div class="top">
        <h1>{{featured_cat_instance.name}}</h1>
      </div>
      <div class="grocery-main">

        {% if language_code == 'ar'%}
        <div class="right-arrow">
            <button aria-label="Next" class="slick-next slick-arrow slick-slider-{{forloop.counter}}  " style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-left"></span></button>
        </div>
        {% else %}
            <div class="left-arrow ">
            <button aria-label="Previous" class="slick-prev slick-arrow slick-slider-{{forloop.counter}} " style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-left"></span></button>
        </div>
        {% endif %}

        <div class="cards" id="slick-slider-{{forloop.counter}}">
          {% for prod in featured_cat_instance.get_products %}
          <div class="item">
            <span class="wishlist" id="{{ prod.pk }}">

              <button data-id="add-to-wishlist" data-pk="{{ prod.pk }}" class="{% if not auth_status %}proceed_to_login {% endif %}" data-toggle="tooltip" href="{% url 'web:add_to_wishlist' %}" id="wish-empty" style="cursor: pointer;" title="Wish List" type="button">
                <img data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}" data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}"
                  src="{% if prod.pk in wishlist_items %}{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %} {% else %} {% static 'web/images/icons/wish-list-empty.svg' %}{% endif %}" alt="Image" />
              </button>
            </span>
            <div class="item-img">
              <a href="{% url 'web:product' pk=prod.pk %}">
                {% if prod.image %}
                <img src="{{prod.image.thumbnail.200x200}}" alt="Image" />
                {% else %}
                <img src="{% static 'web/images/placeholder.jpg' %}" style="width:200px;" alt="Image" />
                {% endif %}
              </a>
            </div>
            <a href="{% url 'web:product' pk=prod.pk %}">
              <h1>
                {% get_english_or_arabic prod.pk 'product' language_code as prod_data %}
                {{prod_data.name | truncatechars:45}}
              </h1>
            </a>
            <!-- <h3>{{ prod }}</h2> -->
              <div class=item-bottom>
                <div class="box">
                  <div style="display: flex">
                    {% if prod.offer_price %}
                        <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.offer_price}}</h2>
                    {% else %}
                        <h2 style="margin-right: 10px;"><span class="rupees-symbol">{% trans "₹" %} </span>{{prod.retail_price}}</h2>
                    {% endif%}
                    {% if prod.offer_price %}
                        <h2 class="text-decoration-underline">{{prod.retail_price}}</h2>
                    {% elif prod.retail_price < prod.mrp %}
                        <h2 class="text-decoration-underline">{{prod.mrp}}</h2>
                    {% endif %}
                  </div>
                  <span class="rating">
                    {% if prod.current_rating > 0 %}
                    <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
                    <h4>{{prod.current_rating|floatformat:"1"}}</h4>
                    {% endif %}
                  </span>
                </div>

                {% if zone_session %}
                {% if not prod.pk in is_cart %}

                <div class="cart">
                  <a class="add-to-cart-button {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="{% url 'web:add_to_cart' %}" data-image="{% static 'web/images/icons/cart-added-Icon.svg' %}">
                    <img class=""  src="{% static 'web/images/icons/add-to-cart-2.svg' %}" alt="Image" />
                  </a>
                </div>

                {% else %}
                <div class="added-cart" style="background: none;">
                  <a class=" {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="javascript:void(0)">
                    <img class="" src="{% static 'web/images/icons/cart-added-Icon.svg' %}" alt="Image" />
                  </a>
                </div>
                {% endif %}
                {% endif %}
              </div>
          </div>
          {% endfor %}
        </div>

        {% if language_code == 'ar'%}
            <div class="left-arrow">
                <button aria-label="Previous" class="slick-prev slick-arrow slick-slider-{{forloop.counter}}" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-right"></span></button>
            </div>
        {% else %}
            <div class="right-arrow">
            <button aria-label="Next" class="slick-next slick-arrow slick-slider-{{forloop.counter}}" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-right"></span></button>
            </div>
        {% endif %}
      </div><!-- #category -->

    </section>
    {% endfor %}
  </section>
</section>

{% if offer_instances %}
<section id="offers">
  <section class="wrapper container">
    <div class="top">
      <h1>{% trans "Offers" %}</h1>
    </div>
    <div class="bottom" id="slick-slider-offer" {% if language_code == 'ar'%}  dir="ltr" {% endif %}>
      {% for i in offer_instances %}
      {% if i.product_variant %}
      <div class="item  {% cycle 'one' 'two' 'three' %}">
        <div class="left">
          {% if i.product_variant.image %}
          <img src="{{i.product_variant.image.url}}" alt="Image" />
          {% else %}
          <img src="{% static 'web/images/placeholder.jpg' %}" alt="Image" />
          {% endif %}
        </div>

        <div class="right">
          <h1>{{ i.product_variant }}</h1>
          <p><span class="highlight">{{i.offer_percentage}}% &nbsp;</span><span>Offer</span></p>
          <a class="button" href="{% url 'web:product' pk=i.product_variant.pk %}">Shop Now</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</section>
{% endif %}
{% if shops %}
<section id="shops-home-page" class="shop" {% if language_code == 'ar'%}  dir="ltr" {% endif %}>
  <section class="wrapper container">
    <div class="title container">
      <h3>Shops</h3>
    </div>
    <div class="shop-lists-container">
      <div class="shop-cards category_slider_card">
        {% for i in shops %}
        <div class="shop-item">
          <div class="image-box">
            {% if i.image %}
             <img src="{{i.image.thumbnail.200x200}}" alt="Image" />
            {% else %}
             <img src="{% static 'web/images/placeholder.jpg' %}" alt="Image" />
            {% endif %}
          </div>
          <div class="content-box">
            <div class="shop-name-box">
              <h4>{% get_english_or_arabic i.pk 'shop' language_code %}</h4>
              <!-- <div class="rating-box">
                  <div class="rating-icon-box">
                    <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" />
                  </div>
                 <h4>{{ i.current_rating|floatformat:"1" }} 4.5</h4>
              </div> -->
            </div>
            <div class="bottom-box">
              <div class="location-box">
                <div class="location-img-container">
                  <img alt="location-icon" src="{% static 'web/images/icons/Icon material-location-on.svg' %}" alt="Image" />
                </div>
                <h5>
                  {% get_english_or_arabic i.zone.pk 'location' language_code %}
                </h5>
              </div>
              <a class="button" href="{% url 'web:shop' pk=i.pk %}">{% trans "Shop Now" %}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</section>
{% endif %}
{% endblock content %}
{% block static %}
<style>
    .offer_item_text{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    }
    #discount .item:hover .offer_item_text{
        width: 100%;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7;
    }
</style>

<script>
  // slider
  function sliderWork(id){
	let width = $(document).width();
	let length = 0;
	length = $(`#${id} .item`).length;

    if (
      (width > 981 && length > 4) ||
      (width > 796 && width <= 980 && length > 3) ||
      (width <= 796 && length > 2)
    ) {
      $(`#${id}`).slick({
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        draggable: true,
        infinite: true,
        pauseOnHover: false,
        slidesToShow: 4,
        slidesToScroll: 1,
        centerMode: false,
        infinite: true,
        dots: false,
        nav: true,
        responsive: [
          {
            breakpoint: 1300,
            settings: {
              slidesToShow: 4
            },
          },
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 3
            },
          },
          {
            breakpoint: 820,
            settings: {
              slidesToShow: 2
            },
          },
          {
            breakpoint: 550,
            settings: {
              slidesToShow: 1
            },
          },
        ],
      });

      // previous next button css
      $(`#grocery .slick-next.${id}`).click(function () {
        $(`#${id}`).slick("slickNext");
      });
      $(`#grocery .slick-prev.${id}`).click(function () {
        $(`#${id}`).slick("slickPrev");
      });
    }
  }

  // {% for i in featured_cat_instances %}
  sliderWork("slick-slider-{{forloop.counter}}")
    // {% endfor %}
</script>

{% endblock static %}