{% extends "web/web_base.html" %}
{% load static %}
{% load django_template_maths %}
{% load web_template_tags %}
{% load i18n %}
{% block content %}

<div class="main-container" id="myOrders">
  <div class="wrapper container">
    <div class="top">
      <h3>{% trans "My Orders" %}</h3>
    </div>


    {% load el_pagination_tags %}
    {% paginate 12 instances %}
    {% for i in instances %}

    <div class="product-details-main-container">
      <div class="productOrderDetails-row">
        <div class="leftorderId">
          <div class="orderIdcontent">
            <label for="OrderID">
              {% trans "Order ID" %} :
            </label>
            <span id="OrderID">#{{i.order_id}}</span>
          </div>
        </div>

        <div class="rightorderDate">
          <div class="orderDatecontent">
            <label for="OrderDate">
              Order Date :
            </label>
            <span id="OrderDate">{{ i.date_added|date:"d/m/Y h:i A" }}</span>
          </div>
        </div>
      </div>

      <div class="productDetails-row">

        {% for prod in i.get_order_items %}
        <!-- product details starting -->
        <a href="{% url 'web:product' pk=prod.product_variant.pk %}" onclick="SingleOrderOn()">
          <div class="product-details-container">
            <div class="product-details-Subrow">
              <div class="productContainer">
                <div class="ProductImageArea">
                  {% if prod.product_variant.image %}
                  <img src="{{ prod.product_variant.image.thumbnail.600x600 }}" alt="Image" />
                  {% else %}
                  <img src="{% static 'web/images/placeholder.jpg' %}" style="width:70px;" alt="Image" />
                  {% endif %}
                </div>
                <div class="subdivision">
                  <div class="ProductName">
                    <p>{{ prod.product_variant }}</p>
                  </div>
                  <div class="ProductCatogery">
                    <p>{{prod.product_variant.product.category}}</p>
                  </div>
                  <div class="ProductNameCatogery"style="margin-top:10px;">
                    <div class="ProductRate">
                        <span><i><span class="rupees-symbol">{% trans "₹" %} &nbsp;</span></i>{{ prod.price|mul:prod.qty|floatformat:2 }}</span>
                    </div>
              </div>
                </div>
              </div>

              <div class="ProductDeliveryDetails" style="display:flex;flex-direction:column;">

                {% if not prod.is_cancelled %}
                <div class="Delivery-Status-{{prod.pk}}">
                    <div class="DeliveryStatus">
                      <i><img src="images/icons/radio-button-checked-white.svg"></i>
                      <span>{% trans "Delivery Expected" %}</span>
                  </div>
                <div class="ProductCatogery">
                  <div>By
                    {% if i.delivery_date %}
                    <span class="deliveryDate">{{i.delivery_date}}</span>
                    {% else %}
                    <span class="deliveryDate">{{i.date_added|date:"d/m/Y h:i A"}}</span>
                    {% endif %}
                  </div>
                </div>
                </div>
                  
                {% else %}
                  <div>
                      <p style="color: red;">Item Cancelled</p>
                  </div>
                {% endif %}
                
                {% if i.order_status == "30" %}
                  <div class="leftSide">
                    <a href="#" class="rating-button" data-pk="{{i.pk}}" item-pk="{{prod.pk}}">
                      {% trans "Rate & Review Order" %}
                    </a>
                  </div>
                {% endif %}

                  {% is_return_button prod.product_variant.pk i.pk as a %}
                  <div class="cancelButton-Row">
                  {% comment %}
                  {% if a %}
                  <a href="#">
                    <button onclick="" class="cancel-order-popup" data-pk="{{prod.pk}}" data-url="{% url 'web:get_product_details_from_order_item' %}">{% trans "Return Product" %}</button>
                  </a>
                  {% endif %}
                  {% endcomment %}
                </div>

              </div>
            </div>
          </div>
        </a>
        <!-- product details end -->
        {% endfor %}

      </div>


      <div class="productDetailsFooter">
        {% comment %} {% if i.order_status == "30" %}
          <div class="leftSide">
            <a href="#" class="rating-button" data-pk="{{i.pk}}">
              {% trans "Rate & Review Order" %}
            </a>
          </div>
        {% endif %} {% endcomment %}
        <div class="rightSide">
          <a href="#" class="review-button" data-pk="{{i.pk}}">
            <div class="rightOrderStatusButton" >
              <span>{% trans "Order Status" %}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="bottomCards">
<div class="pagination" style="text-align:center">
  {% get_pages %}
  {% show_pages %}
</div>
</div>
<!-- overlays starting-->

<!-- ********product single************  -->


{% for i in instances %}
<div class="OverLay single-order {{i.pk}}" >
    <span class="side-popup-close">×</span>
  <div class="main-container-side">

    <!-- <div class="OrderSingle-name-div">
        <span class="side-popup-close" onclick="SingleOrderOff()">
            ×
        </span>
        <span class="mycart-name">
            Order Single
        </span>
    </div> -->

    <div class="orderIdandDateRow">
      <div class="leftside">
        <div class="orderid">
          <span class="orange">OID :</span>
          <span class="black">#{{i.order_id}}</span>
        </div>
      </div>
      <div class="rightside">
        <div class="orderdate">
          <span>{{ i.date_added|date:"d/m/Y h:i A" }}</span>
        </div>
      </div>
    </div>

    <!-- **************** -->


    <div class="deliveryAddressArea">
      <div class="sub">
        <div class="titlearea">
          {% trans "Delivery Address" %}
        </div>
        <div class="detailaddress">
          <div class="customerName">Name :
            {{i.billing_name}}
          </div>

          <div class="address">{% trans "Address" %} :
            <span>{{i.billing_address}}</span>
          </div>
          <div class="phone">{% trans "Phone" %} :
            <span>{{i.billing_phone}}</span>
          </div>
        </div>
      </div>
    </div>


    <!-- **************** -->


    <div class="SideproductDetails-row">
      <div class="SideproductListTitleRow">
        <div class="SidesubRow">
          {% trans "Product List" %}
        </div>
      </div>

      {% for p in i.get_order_items %}
      <!-- product details starting -->
      <div class="Sideproduct-details-container">
        <a href="{% url 'web:product' pk=p.product_variant.pk %}">
          <div class="Sideproduct-details-Subrow">
            <div class="SideProductImageArea">
              {% if p.product_variant.image %}
                  <img src="{{p.product_variant.image.thumbnail.200x200}}"/>
              {% else %}
                  <img src="{% static 'web/images/placeholder.jpg' %}" style="width:68px;"/>
              {% endif %}
              <!-- <img src=" images/Baby-png.png"> -->
            </div>
            
            <div class="SideProductNameCatogery">
              <div>
                <p class="Sideproductname">{{ p.product_variant }}, {{p.qty}}</p>
                <p class="Sideproductcatogery">{{p.product_variant.product.category}}</p>
              </div>
            </div>
            {% if p.is_cancelled == False %}
            <div class="cancelButton-Row Delivery-Status-{{p.pk}}">
              <a href="#">
                <button onclick="" class="cancel-order-item-button" 
                data-pk="{{p.pk}}" 
                data-url="{% url 'web:cancel_order_item' pk=p.pk %}">
                Cancel this Item
              </button>
              </a>
            </div>
            {% else %}
            <div class="cancelButton-Row orderItem">
              <p style="color: #9f0525;">Item Cancelled</p>
            </div>
            {% endif %}
            <div class="SideProductRate" style="display: flex; flex-wrap: wrap;">
              <p><i><span class="rupees-symbol">{% trans "₹" %}&nbsp; </span></i>{{ p.price|mul:p.qty|floatformat:2 }}</p>
            </div>
            <div class="ReturnProduct">
              {% is_return_button p.product_variant.pk i.pk as return_button%}
              {% if return_button %}
              <a id="return_product" href="{% url 'web:return_product' pk=p.pk %}">
                Return product
              </a>
              {% endif %}
              
            </div>

          </div>
        </a>
      </div>
      <!-- product details end -->
      {% endfor %}

    </div>

    <!-- *********************** -->
    <div class="orderTrackingMain-Container " data-order-pk="{{ i.pk }}">
      <div class="orderTrackingSub-Container">
        <div id="order-details">
          <div class="head-pay">
            <h3>Price Details</h3>
          </div>
          <div class="contents">
            <div class="list-content">
              <h4>Item Price : </h4>
              <h6>{{i.get_product_total}}</h6>
            </div>
            <div class="list-content">
              <h4>Delivery Charge : </h4>
              <h6>{{i.delivery_charge}}</h6>
            </div>
            <div class="list-content">
              <h4 class="bolder">Total Amount :</h6>
              <h4 class="bolder"><span class="rupees-symbol">₹ </span>{{i.total_amt|floatformat:2}}</h6>
            </div>
          </div>  
        </div>
      </div>
    </div>

  

    <div class="orderTrackingMain-Container ">
      <div class="orderTrackingSub-Container">

        {% if i.order_status == '10' %}
        <div class="cancelButton-Row">
          <a href="#">
            <button onclick="" class="cancel-order-buttton" data-pk="{{i.pk}}" data-url="{% url 'web:cancel_order' %}">Cancel Order</button>
          </a>
        </div>
        {% endif %}


        <div class="trackerAreaMain">
          <div class="trackerAreaSub">

            <ul class="StepProgress">

              <li class="StepProgress-item is-done">
                <span class="proccessContent">Ordered</span>
                <span class="timeAndDate">{{ i.date_added|date:"d/m/Y h:i A" }}</span>
              </li>

              {% if i.order_status == '40' %}
              <li class="StepProgress-item is-done current">
                <span class="proccessContent text-danger">Cancelled</span>
                <span class="timeAndDate">{{ i.date_added|date:"d/m/Y h:i A" }}</span>
              </li>
              {% else %}

              <li class="StepProgress-item {% if i.order_status == '20' or i.order_status == '30' %} is-done{% endif %}{% if i.order_status == '10' %} current{% endif %}">
                <span class="proccessContent">Shipped</span>
                <span class="timeAndDate">{% if i.order_status == '20' %} {{ i.date_updated|date:"d/m/Y h:i A" }} {% endif %}</span>
              </li>
              <li class="StepProgress-item{%if i.order_status == '30' %} is-done{% endif %}{% if i.order_status == '20' %} current{% endif %}">
                <span class="proccessContent">Delivered</span>
                <span class="timeAndDate">{% if i.order_status == '30' %} {{ i.date_updated|date:"d/m/Y h:i A" }} {% endif %}</span>
              </li>
              {% endif %}


            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endfor %}

<!-- ****** cancel Order **** -->


<div class="OverLay cancel-order-popup-container" id="CancelOrder">
  <div class="main-container-side">

    <div class="proRate-name-div">
                <span class="side-popup-close" >
                    ×
                </span>
      <span class="mycart-name">
                    {% trans "Cancel Order" %}
                </span>
    </div>

    <div class="orderIdandDateRow">
      <div class="leftside">
        <div class="orderid">
                        <span class="orange">
                            OID :
                        </span>
          <span class="black">
                            #-{{order_id}}
                        </span>
        </div>
      </div>
      <div class="rightside">
        <div class="orderdate">
          <span>25th July 2021</span>
        </div>
      </div>
    </div>

    <!-- **************** -->


    <div class="SideproductDetails-row">
      <div class="SideproductListTitleRow">
        <div class="SidesubRow">
          {% trans "Product List" %}
        </div>
      </div>
      <span>{% trans "Resturn Product" %}</span>
      <!-- product details starting -->
      <div class="Sideproduct-details-container">
        <a href="#">
          <div class="Sideproduct-details-Subrow">
            <div class="SideProductImageArea">
              <img class="product-image" src="images/Banana-png.png">
            </div>

            <div class="SideProductNameCatogery">
              <div>
                <p class="Sideproductname product_name"></p>
                <p class="Sideproductcatogery product_category"></p>
              </div>
            </div>

            <div class="SideProductRate" style="display: flex; flex-wrap: wrap;">
              <p class="product-mrp"><i><span class="rupees-symbol">{% trans "₹" %}&nbsp; </span></i></p>

            </div>
          </div>
        </a>
      </div>
      <!-- product details end -->
    </div>

    <!-- *********************** -->

    {% comment %} <form action="#">

      <div class="SideproductSelectMainContainer">
        <div class="SideproductSelectSubContainer">

          <select id="cancelreason" name="cancelreason">
            <option value="">{% trans "Select Reason" %}*</option>
            <option value="product_damage">Product Damage</option>
            <option value="size_not_fit">Size Not Fit</option>
            <option value="others">Others</option>
          </select>

        </div>
      </div>

      <!-- ************************************ -->

      <div class="SideTextareaMainContainer" style="display:none">
        <div class="SideTextareaContainerSub">
          <textarea cols="41" id="cancel-review" name="review" placeholder="Specify the Reason" rows="4"></textarea>
        </div>
      </div>

      <div class="buttonArea">
        <div class="buttonAreaSub">
          <button class="return-product-button" data-url="{% url 'web:product_return' %}" data-pk="l" type="submit">{% trans "Continue" %}</button>
        </div>
      </div>
    </form> {% endcomment %}
  </div>
</div>

<!-- ****** rate And Review ****** -->

{% for i in instances %}
<div class="OverLay {{i.pk}}review" id="ProductRating">
  <div class="main-container-side">

    <div class="proRate-name-div">
      <span class="side-popup-close" onclick="">×</span>
      <span class="mycart-name">{% trans "Rate Product" %}</span>
    </div>

    <div class="orderIdandDateRow">
      <div class="leftside">
        <div class="orderid">
            <span class="orange">OID :</span>
            <span class="black">#{{i.order_id}}</span>
        </div>
      </div>
      <div class="rightside">
        <div class="orderdate">
          <span>{{ i.date_added|date:"d/m/Y h:i A" }}</span>
        </div>
      </div>
    </div>
    {{i.order_id}}
    <input type="hidden" value="{{i.pk}}" class="hidden-order-id">

    <!-- **************** -->


    <div class="SideproductDetails-row">
      <div class="SideproductListTitleRow">
        <div class="SidesubRow">
          {% trans "Product List" %}
        </div>
      </div>
      <!-- product details starting -->
      {% for p in i.get_order_items %}
      <div class="ReviewProduct Sideproduct-details-container {{p.pk}}product-review hide-products">
        <a href="#">
          <div class="Sideproduct-details-Subrow">
            <div class="SideProductImageArea">
              {% if p.product_variant.image %}
                  <img src="{{p.product_variant.image.thumbnail.200x200}}"/>
              {% else %}
                  <img src="{% static 'web/images/placeholder.jpg' %}" style="width:68px;"/>
              {% endif %}
            </div>

            <div class="SideProductNameCatogery">
              <div>
                <p class="Sideproductname">{{p}}</p>
                <p class="Sideproductcatogery">{{p.product_variant.product.category}}</p>
              </div>
            </div>

            <div class="SideProductRate">
              <span><i><span class="rupees-symbol">{% trans "₹" %}&nbsp; </span></i>{{p.price}}</span>

            </div>
          </div>
        </a>
        <form action="#">

          <div class="SaidproductRateMainContainer">
            <div class="SaidproductRateSubContainer">
              <div class="SaidproductRateLeftSide">
                <div class="SaidproductRateLeftSideSub">
                  <p>{% trans "Rate Product" %}</p>
                </div>
              </div>
    
              <div class="SaidproductRateRightSide">
                <div class="SaidproductRateRightSideSub">
    
                  <div class="Saidrate">
                      <div class="rating">
                        {% check_product_review p.product_variant.pk user as product_review %}
                        {% if product_review %}
                            <input type="radio" name="rating" value="5"  {% if product_review.rating == 5 %} checked {% endif %} class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-5">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-5"></label>
                            <input type="radio" name="rating" value="4"  {% if product_review.rating == 4 %} checked {% endif %} class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-4">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-4"></label>
                            <input type="radio" name="rating" value="3"  {% if product_review.rating == 3 %} checked {% endif %} class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-3">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-3"></label>
                            <input type="radio" name="rating" value="2"  {% if product_review.rating == 2 %} checked {% endif %} class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-2">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-2"></label>
                            <input type="radio" name="rating" value="1"  {% if product_review.rating == 1 %} checked {% endif %} class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-1">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-1"></label>
                        {% else %}
                            <input type="radio" name="rating" value="5" class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-5">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-5"></label>
                            <input type="radio" name="rating" value="4" class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-4">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-4"></label>
                            <input type="radio" name="rating" value="3" class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-3">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-3"></label>
                            <input type="radio" name="rating" value="2" class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-2">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-2"></label>
                            <input type="radio" name="rating" value="1" class="count" id="{{i.pk}}{{p.product_variant.pk}}rating-1">
                            <label for="{{i.pk}}{{p.product_variant.pk}}rating-1"></label>
                        {% endif %}
                      </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
    
    
          <!-- ************************************ -->
    
          <div class="reviewwritingContainer">
            <div class="reviewwritingContainerSub">
              <textarea cols="41" class="product-review" 
              id="review" name="review" placeholder="Write a product review" rows="6" rows="4">{% if product_review %}{{product_review.review}}{% endif %}</textarea>
            </div>
          </div>
    
          <div class="buttonArea">
            <div class="buttonAreaSub">
              <button class="rating-product-submit" data-product-id="{{p.product_variant.pk}}" data-url="{% url 'web:post_rating' %}">{% trans "Continue" %}</button>
            </div>
          </div>
    
        </form>
      </div>
      
    {% endfor %}
      <!-- product details end -->
    </div>

    <!-- *********************** -->

    
  </div>
</div>
{% endfor %}

<style>
  #popupBackground {
    position: fixed;
    margin-top: -170px;
  }
  #menu {
    margin-top: -100px;
  }
  div.top {
    margin-top: 170px;
  }

  .bottomCards{
    padding-bottom:0px;
  }

  @media (max-width: 768px){
    div.top {
      margin:40px 0px;
    }
  }
</style>

<!-- overlays ending -->
{% endblock content %}
