{% extends "web/web_base.html" %}

{% load i18n %} {% load tz %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}
{% load i18n %}

{% load web_template_tags %}
{% block content %}

<div id="single-product" class="{{ product_variant.pk }}">
    <div class="wrapper container">
        <div class="container-s">
            {% if images %}
            <div class="left-box-multiple-images gallery-parent">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        {% if product_variant.image %}
                        <div class="swiper-slide easyzoom easyzoom--overlay zoom" data-src="{{product_variant.image.url}}"
                            onmousemove="zoom(event)" onmouseleave="removeBG(event)">
                            <a href="{{ product_variant.image.url }}">
                                <img src="{{ product_variant.image.url }}" alt="Swiper" />
                            </a>
                        </div>
                        {% endif %}
                        {% for i in images %}
                        <div class="swiper-slide easyzoom easyzoom--overlay zoom" data-src="{{i.image.url}}"
                            onmousemove="zoom(event)" onmouseleave="removeBG(event)">
                            <a href="{{ i.image.url }}">
                                <img src="{{ i.image.url }}" alt="Swiper" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <!-- <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div> -->
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        {% if product_variant.image %}
                        <div class="swiper-slide">
                            <div class="thumbs-img-box">
                                <img src="{{product_variant.image.thumbnail.400x400 }}" alt="Swiper" />
                            </div>
                        </div>
                        {% endif %}
                        {% for i in images %}
                        <div class="swiper-slide">
                            <div class="thumbs-img-box">
                                <img src="{{i.image.thumbnail.400x400 }}" alt="Swiper" />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% elif product_variant.image %}
            <div class="left-box ">
                <div class="left-box-single-pic easyzoom easyzoom--overlay zoom" data-src="{{product_variant.image.url}}"
                    onmousemove="zoom(event)" onmouseleave="removeBG(event)">
                    <a href="{{ product_variant.image.url }}">
                        <img src="{{product_variant.image.url}}" alt="Image" />
                    </a>
                </div>
            </div>

            {% else %}
            <div class="left-box">
                <img id="myimage" src="{% static 'web/images/placeholder.jpg' %}" style="width:40%;" alt="Image" />
            </div>

            {% endif %}

            <div class="right-box">
                <div class="top">
                    <div class="left-card">
                        {% if review_count > 0 %}
                        <span class="zmdi zmdi-star"></span><small>{{product_variant.current_rating|floatformat:"1"}} ({% trans "Reviews" %} {{review_count}})</small>
                        {% else %}
                        {% if product_variant.current_rating > 0 %}
                        <span class="zmdi zmdi-star"></span>
                        <small>{{product_variant.current_rating|floatformat:"1"}}</small>
                        {% endif %}
                        <small style="display: inline-block; margin-left: 5px;">No Reviews</small>
                        {% endif %}
                    </div>
                    <div class="right-card">
                        <span class="wishlist" id="{{ product_variant.pk }}">

                            <button class="{% if not auth_status %}proceed_to_login {% endif %}" data-id="add-to-wishlist" id="wish-empty" data-pk="{{ product_variant.pk }}" href="{% url 'web:add_to_wishlist' %}" data-toggle="tooltip" title="Wish List" type="button" style="cursor: pointer;">
                                <img data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}" data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}"
                                    src="{% if product_variant.pk in wishlist_items %}{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %} {% else %} {% static 'web/images/icons/wish-list-empty.svg' %}{% endif %}" alt="Image" />

                            </button>
                        </span>
                    </div>
                </div>
                <div class="content">
                    <h4 class="product-name">
                        {% get_english_or_arabic product_variant.pk 'product' language_code as PRODUCT %}
                        {{PRODUCT.name}}
                    </h4>

                    <div class style="display: flex">
                        {% if product_variant.offer_price %}
                            {% if product_variant.offer_price < product_variant.retail_price %}
                            <h5 class="product-mrp product-mrp"><span class="rupees-symbol"> ₹ </span>{{product_variant.offer_price|floatformat:2}} /-</h5>
                            <h5 style="margin-left: 10px; text-decoration:line-through;" class="product-mrp"><span class="rupees-symbol">₹ </span>{{product_variant.retail_price}} /-</h5>
                            {% else %}
                            <h5 class="product-mrp "><span class="rupees-symbol">₹ </span>{{product_variant.retail_price}} /-</h5>
                            {% endif %}
                        {% elif batch %}
                            {% if batch.retail_price < batch.mrp %}
                            <h5 class="product-mrp product-mrp"><span class="rupees-symbol"> ₹ </span>{{batch.retail_price|floatformat:2}} /-</h5>
                            <h5 style="margin-left: 10px; text-decoration:line-through;" class="product-mrp"><span class="rupees-symbol">₹ </span>{{batch.mrp|floatformat:2}} /-</h5>
                            {% else %}
                            <h5 class="product-mrp "><span class="rupees-symbol">₹ </span>{{batch.mrp}} /-</h5>
                            {% endif %}
                        {% else %}
                            {% if product_variant.retail_price < product_variant.mrp %}
                                <h5 class="product-mrp product-mrp"><span class="rupees-symbol"> ₹ </span>{{product_variant.retail_price|floatformat:2}} /-</h5>
                                <h5 style="margin-left: 10px; text-decoration:line-through;" class="product-cross-mrp"><span class="rupees-symbol">₹ </span>{{product_variant.mrp}} /-</h5>
                            {% else %}
                                <h5 class="product-mrp"><span class="rupees-symbol">₹ </span>{{product_variant.mrp}} /-</h5>
                            {% endif %}
                        {% endif %}
                    </div>

                    <p class="product-description">
                        {{PRODUCT.description}}
                    </p>
                    <div class="nb">
                        <p class="product-nb">NB: <span>{{product_variant.product.meta_description}}</span></p>
                    </div>
                </div>

                {% if product_variant.whole_sale_quantity > 0 %}
                {% get_whole_sale_data product_variant zone_session as whole_sale_data %}

                <div class="whole-sale-offer-card">
                    <p>Save <b><span>₹</span> {{whole_sale_data.total_discount|floatformat:2}}</b> by purchasing <b>{{ whole_sale_data.minimum_quantity }}</b> items for just <b><span>₹</span> {{whole_sale_data.total_rate|floatformat:2}}</b></p>
                </div>
                {% endif %}

                <div class="bottom">

                    {% if variations.has_special %}
                    <div class="quantitycards">
                        <div>
                            {% for variant_obj in variations.special_variants %}
                            {% is_stock variant_obj.variant zone_session as stock %}

                            <a href="{% if variant_obj.id|safe == product_variant.pk|safe %}#{%else%}{% url 'web:product' variant_obj.id %}{% endif %}">
                                <span class="{% if variant_obj.id|safe == product_variant.pk|safe %}active{% endif %}">
                                    <p>{{variant_obj.title}}</p>
                                    {% if stock %}
                                    <p>In stock</p>
                                    {% else %}
                                    <p style="color: red;">Out of stock</p>
                                    {% endif %}
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if variations.has_colour or variations.has_size or variations.has_other %}
                    {% if variations.has_colour %}
                    <div class="quantitycards">
                        <div>
                            {% for variant_obj in variations.colour_variants %}
                            {% is_stock variant_obj.variant zone_session as stock %}

                            <a href="{% if variant_obj.id|safe == product_variant.pk|safe %}#{%else%}{% url 'web:product' variant_obj.id %}{% endif %}">
                                <span class="{% if variant_obj.id|safe == product_variant.pk|safe %}active{% endif %}">
                                    <p>{{variant_obj.title}}</p>
                                    {% if stock %}
                                    <p>In stock</p>
                                    {% else %}
                                    <p style="color: red;">Out of stock</p>
                                    {% endif %}
                                </span>
                            </a>
                            {% endfor %}
                            {% if variations.has_disabled_colour %}
                            {% for variation_item in variations.disabled_colour %}
                            <a href="#" title="Not Available in selected variation">
                                <span class="disabled">
                                    <p>{{variation_item.title}}</p>
                                    <p style="color: red;">Not Available</p>
                                </span>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if variations.has_size %}
                    <div class="quantitycards">
                        <div>
                            {% for variant_obj in variations.size_variants %}
                            {% is_stock variant_obj.variant zone_session as stock %}

                            <a href="{% if variant_obj.id|safe == product_variant.pk|safe %}#{%else%}{% url 'web:product' variant_obj.id %}{% endif %}">
                                <span class="{% if variant_obj.id|safe == product_variant.pk|safe %}active{% endif %}">
                                    <p>{{variant_obj.title}}</p>
                                    {% if stock %}
                                    <p>In stock</p>
                                    {% else %}
                                    <p style="color: red;">Out of stock</p>
                                    {% endif %}
                                </span>
                            </a>
                            {% endfor %}
                            {% if variations.has_disabled_size %}
                            {% for variation_item in variations.disabled_size %}
                            <a href="#" title="Not Available in selected variation">
                                <span class="disabled">
                                    <p>{{variation_item.title}}</p>
                                    <p style="color: red;">Not Available</p>
                                </span>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if variations.has_other %}
                    <div class="quantitycards">
                        <div>
                            {% for variant_obj in variations.other_variants %}
                            {% is_stock variant_obj.variant zone_session as stock %}

                            <a href="{% if variant_obj.id|safe == product_variant.pk|safe %}#{%else%}{% url 'web:product' variant_obj.id %}{% endif %}">
                                <span class="{% if variant_obj.id|safe == product_variant.pk|safe %}active{% endif %}">
                                    <p>{{variant_obj.title}}</p>
                                    {% if stock %}
                                    <p>In stock</p>
                                    {% else %}
                                    <p style="color: red;">Out of stock</p>
                                    {% endif %}
                                </span>
                            </a>
                            {% endfor %}
                            {% if variations.has_disabled_other %}
                            {% for variation_item in variations.disabled_other %}
                            <a href="#" title="Not Available in selected variation">
                                <span class="disabled">
                                    <p>{{variation_item.title}}</p>
                                    <p style="color: red;">Not Available</p>
                                </span>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% else %}

                    <div class="quantitycards">
                        <div>
                            {% for variant_obj in variants %}
                            {% is_stock variant_obj zone_session as stock %}

                            <a href="{% if variant_obj.id == product_variant.pk %}#{%else%}{% url 'web:product' variant_obj.id %}{% endif %}">
                                <span class="{% if variant_obj.id == product_variant.pk %}active{% endif %}">
                                    <p>{{variant_obj.title}}</p>
                                    {% if stock %}
                                    <p>In stock</p>
                                    {% else %}
                                    <p style="color: red;">Out of stock</p>
                                    {% endif %}
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if auth_status %}
                    <div class="flex flex-wrap">
                        <div class="quantity none {% if product_variant.pk in is_cart %} flex {% endif %}">
                            <h5>{% trans "Quantity" %}</h5>

                            <input id="minus" type="button" class="minus QuantityButton" value="-" data-pk="{{ product_variant.pk }}" href="{% url 'web:decrement_cart' %}" />
                            <input id="theInput" type="text" size="1" class="{{ product_variant.pk }} input-text qty text" title="Qty" value="{% get_cart_count product_variant.pk request.user %}" min="0" step="1" disabled />
                            <input id="plus" type="button" class="plus QuantityButton" value="+" data-pk="{{ product_variant.pk }}" href="{% url 'web:increment_cart' %}" />
                        </div>

                        {% is_stock product_variant zone_session as stock %}

                        <div class="apply apply-cart {% if product_variant.pk in is_cart %} none {% endif %} {% if not stock %} none {% endif %}">
                            <button type="button" style="cursor: pointer;" class="add-to-cart" data-pk="{{product_variant.pk}}" href="{% url 'web:add_to_cart' %}"><span class="zmdi zmdi-shopping-cart"></span>{% trans "Add to Cart" %}</button>
                        </div>

                        <div class="{{stock}}-stock apply book-now-button none {% if not stock and product_variant.pk not in is_cart %} flex {% endif %}">
                            <button type="button" style="cursor: pointer;" class="bookNowButton" data-pk="{{product_variant.pk}}" data-url="{% url 'web:book_product' %}"><span class="zmdi zmdi-calendar-note"></span>{% trans "Book Now" %}</button>
                        </div>

                         <!-- {% if product_variant.whole_sale_quantity > 0 %}
                         buy in wholesale quantity and price
                         <div class="apply apply-cart wholesale-cart{% if not stock %} none {% endif %}">
                            <button type="button" data-qty="{{whole_sale_data.minimum_quantity}}" style="cursor: pointer;" class="add-to-cart" data-pk="{{product_variant.pk}}" href="{% url 'web:wholesale_add_to_cart' %}">
                                <span class="zmdi zmdi-shopping-cart"></span>Buy {{whole_sale_data.minimum_quantity}} Items now
                            </button>
                        </div>
                         {% endif %} -->

                         <!-- Use a button to open the snackbar -->
                         <!-- .<button class="snack-btn" data-message="You are already booked">Show Snackbar</button> -->
                        <div class="apply my-cart {% if product_variant.pk in is_cart %} block{% else %} none{% endif %}">
                            <button type="button" style="cursor: pointer;"  data-pk="{{product_variant.pk}}" href="#"><span class="zmdi zmdi-shopping-cart"></span>{% trans "Go to Cart" %}</button>
                        </div>

                    </div>

                    {% else %}
                    <div class="flex">
                        <div class="apply apply-cart">
                            <button type="button" style="cursor: pointer;" class="logoutPopup" data-pk="{{product_variant.pk}}" href="{% url 'web:add_to_cart' %}"><span class="zmdi zmdi-shopping-cart"></span>{% trans "Add to Cart" %}</button>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div><!-- #single-product -->
</div>

<div id="review-list">
    <div class="wrapper container">
        <div class="main">
            <div class="tab">
                <div class="tab1 active common">
                    <h6>{% trans "Item Description" %}</h6>
                </div>
                <div style="cursor: pointer !important;" class="tab2 common">
                    <h6>{% trans "Item Reviews" %} ({{review_count}})</h6>
                </div>
            </div>
            <div class="describtion">
                <div class="detail container-hide">
                    <h5>{{product_variant.title}}</h5>
                        <p>{{product_variant.product.description|truncatechars:300}} <a class="detail-view">View More...<a></p>

                </div>
                <div class="detail view-button">
                    <h5>{{product_variant.title}}</h5>
                        <p>{{product_variant.product.description}} <span class="show-less-btn">..Show Less</span></p>
                </div>
                <div class="contemt">
                    <h5>General</h5>
                    <div class="general">
                        {% if product_variant.product.brand %}
                        <p>Brand<a style="width:50%" href="{% url 'web:brand' product_variant.product.brand_id %}">{{product_variant.product.brand}}</a></p>
                        {% endif %}
                        <p>Quantity<span>{{product_variant.unit}}</span></p>
                        <p>Type<span>{{product_variant.product.name}}</p>
                        <!-- <p>Form Factor<span>Whole</span></p>
                        <p>Organic <span> Yes</span></p> -->
                    </div>
                </div>
            </div>

            <div class="reviews">
                {% if review_count != 0 %}
                <h5>{% trans "Customer Reviews" %} ({{review_count}})</h5>

                <div class="cards">
                    {% for i in review_instances %}
                    <div class="card">
                        <div class="left-box">
                            {% get_pro_pic i.creator as image %}

                            {% if not image %}
                            <img src="{% static 'web/images/deliver-vector.png' %}" alt="Image" />
                            {% else %}
                            <img src="{{image}}" alt="Image" />
                            {% endif %}

                        </div>
                        <div class="right-box">
                            <div class="top-c">
                                <h4>{% get_name i.creator %}</h4>
                                <div class="date">
                                    <span>{{i.date_updated}}</span>
                                    <div class="review-c">
                                        <small class="zmdi zmdi-star"></small><span>{{i.rating}}</span>
                                    </div>
                                </div>
                            </div>
                            {% if i.review %}
                            <div class="bottom-c">
                                <p>
                                    {{i.review}}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% if review_instances %}
                <div class="load">
                    <button>{% trans "Load more reviews" %}</button>
                </div>
                {% endif %}
                {% else %}
            <h3>No Reviews</h3>
            {% endif %}
            </div>

        </div>
    </div>
</div><!-- #review-list -->


<section class="boxitems slideritem arrow-icons" id="grocery" >
    <section class="wrapper container">

        <div class="top">
            <h1>{% trans "Related Products" %}</h1>
        </div>
        <div class="grocery-main">
        {% if language_code == 'ar'%}
            <div class="right-arrow">
                <button aria-label="Next" class="slick-next slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-right"></span></button>
            </div>
        {% else %}
            <div class="left-arrow">
            <button aria-label="Previous" class="slick-prev slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-left"></span></button>
        </div>
        {% endif %}

            <div class="cards" id="slick-slider-two" data-rtl="{% if language_code == 'ar' %}true{% endif %}">
            {% for prod in related_products %}
            <div class="item">
                <span class="wishlist" id="{{ prod.pk }}">

                    <button data-id="add-to-wishlist" data-pk="{{ prod.pk }}" title="Wish List" type="button"
                        class="{% if not auth_status %}proceed_to_login {% endif %}" data-toggle="tooltip"
                        href="{% url 'web:add_to_wishlist' %}" id="wish-empty" style="cursor: pointer;" >
                            <img data-path="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}"
                                data-path-empty="{% static 'web/images/icons/wish-list-empty.svg' %}"
                                {% if prod.pk in wishlist_items %}
                                src="{% static 'web/images/icons/Icon feather-heart-2-svg.svg' %}" {% else %}
                                src="{% static 'web/images/icons/wish-list-empty.svg' %}" {% endif %} alt="Icon" />
                    </button>
                </span>
                <div class="item-img">
                    <a href="{% url 'web:product' pk=prod.pk %}">
                        {% if prod.image %}
                        <img src="{{prod.image.thumbnail.200x200}}" alt="Image" />
                        {% else %}
                        <img src="{% static 'web/images/placeholder.jpg' %}" style="width:200px;"  alt="Image" />
                        {% endif %}
                    </a>
                </div>
                <a href="{% url 'web:product' pk=prod.pk %}">
                    <h1>{{ prod | truncatechars:35}}</h1>
                </a>
                <div class=item-bottom>
                    <div class="box">
                        <div style="display: flex">
                            <h2 style="margin-right: 10px;"><span class="rupees-symbol">₹ </span>{{prod.retail_price}}</h2>
                            {% if prod.retail_price < prod.mrp %}
                            <h2 class="text-decoration-underline">{{prod.mrp}}</h2>
                            {% endif %}
                        </div>
                        <span class="rating">
                            {% if prod.current_rating > 0 %}
                            <img src="{% static 'web/images/icons/Icon ionic-ios-star.svg' %}" alt="Image" />
                            <h4>{{prod.current_rating|floatformat:"1"}}</h4>
                            {% endif %}
                        </span>
                    </div>

                    {% if zone_session %}
                    {% if not prod.pk in is_cart %}
                    <div class="cart">
                        <a class="add-to-cart-button {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="{% url 'web:add_to_cart' %}" data-image="{% static 'web/images/icons/cart-added-Icon.svg' %}">
                        <img class=""  src="{% static 'web/images/icons/add-to-cart-2.svg' %}" alt="Image" />
                        </a>
                    </div>

                    {% else %}
                    <div class="added-cart" style="background: none;">
                        <a class=" {% if not auth_status %}proceed_to_login {% endif %}" data-pk="{{ prod.pk }}" data-url="" href="javascript:void(0)">
                        <img class="" src="{% static 'web/images/icons/cart-added-Icon.svg' %}" alt="Image" />
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            </div>

            {% if language_code == 'ar'%}
                <div class="left-arrow">
                    <button aria-label="Previous" class="slick-prev slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-left"></span></button>
                </div>
            {% else %}
                <div class="right-arrow">
                <button aria-label="Next" class="slick-next slick-arrow" style="display: inline-block;" type="button"><span class="zmdi zmdi-chevron-right"></span></button>
                </div>
            {% endif %}
        </div><!-- #category -->

    </section>
</section>

<style>
    @media (max-width: 1280px){

        #grocery {
            padding-top: 20px;
        }

        #review-list {
            padding-bottom: 20px;
        }

        #single-product {
            padding: 206px 0 10px;
        }

        #grocery .wrapper:last-child {
            padding-bottom: 0px;
        }
    }
    #single-product .right-box .apply.wholesale-cart button{
        margin-left: 15px;
    }
    @media (max-width: 500px){
        #single-product .right-box .apply.wholesale-cart button{
        margin-left: 0;
    }}

</style>

{% endblock content %}

{% block static %}
<script>
    function slide(direction) {
        var container = document.getElementById('HorizondelScrollingCard');
        scrollCompleted = 0;
        var slideVar = setInterval(function () {
            if (direction == 'left') {
                container.scrollLeft -= 10;
            } else {
                container.scrollLeft += 10;
            }
            scrollCompleted += 10;
            if (scrollCompleted >= 100) {
                window.clearInterval(slideVar);
            }
        }, 50);
    }

    // Swiper
    $('.gallery-parent').each(function () {
    // We finding any "gallery-parent" and find child with class "gallery-top" and "gallery-thumbs" for multiple using plugin
    let thumbs = $(this).children('.gallery-thumbs'),
        top = $(this).children('.gallery-top');

    // activation carousel plugin
    let galleryThumbs = new Swiper(thumbs, {
        spaceBetween: 5,
        autoplay: {
         delay: 5000,
        },
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        // autoHeight: true,
        slidesPerView:4,
        breakpoints: {
        0: {
            slidesPerView: 3,
        },
        992: {
            // slidesPerView: 4,
        },
        },
    });
    let galleryTop = new Swiper(top, {
        spaceBetween: 5,
        slidesPerView:1,

        // navigation: {
        // nextEl: '.swiper-button-next',
        // prevEl: '.swiper-button-prev',
        // },
        thumbs: {
            swiper: galleryThumbs,
        },
    });

    // change carousel item height
    // gallery-top
    let productCarouselTopWidth = top.outerWidth();
    top.css('height', productCarouselTopWidth);

    // gallery-thumbs
    let productCarouselThumbsItemWith = thumbs.find('.swiper-slide').outerWidth();
    thumbs.css('height', productCarouselThumbsItemWith);
    });

    // const instance_swiper = new Swiper(".gallery-thumbs .swiper-slide", {
    // on: {
    //     slideChange: function () {
    //     const index_currentSlide = instance_swiper.realIndex;
    //     const currentSlide = instance_swiper.slides[index_currentSlide]
    //     //
    //     currentSlide.style.background = "red";
    //     },
    // },
    // });

    // activation zoom plugin
    let $easyzoom = $('.easyzoom').easyZoom();
</script>


<!-- zoom in when mouse enter, works only if the image is of high quality -->
<style>
    .zoom {
        background-position: 50% 50%;
        position: relative;
        overflow: hidden;
        cursor: zoom-in;
        background-repeat: no-repeat;
    }
    .zoom img:hover {
        opacity: 0;
    }
</style>
<script>
    function removeBG(e){
        var zoomer = e.currentTarget;
        zoomer.style.backgroundImage = ''
    }
    function zoom(e){
        var zoomer = e.currentTarget;
        var img = zoomer.getAttribute('data-src');
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX/zoomer.offsetWidth*100
        y = offsetY/zoomer.offsetHeight*100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
        zoomer.style.backgroundImage = `url("${img}")`;
    }
</script>

{% endblock static %}
