{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <form action="{{url}}" method="post" class="ajax redirect">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.minimum_amount.id_for_label }}">
                                        {{ form.minimum_amount.label }}

                                        {% if form.minimum_amount.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.minimum_amount }}
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="{{ form.value_of_point.id_for_label }}">
                                        {{ form.value_of_point.label }}

                                        {% if form.value_of_point.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.value_of_point }}
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="{{ form.point_gained_online.id_for_label }}">
                                        {{ form.point_gained_online.label }}

                                        {% if form.point_gained_online.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.point_gained_online }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.point_gained_offline.id_for_label }}">
                                        {{ form.point_gained_offline.label }}

                                        {% if form.point_gained_offline.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.point_gained_offline }}
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block static %}
{{ form.media }}
{% endblock %}