{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto align-self-center">

                        {% if not instances_count >= 1 %}
                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'web:create_social_link' %}"
                        role="button"><i class="fas fa-plus mr-2"></i>Social Links</a>
                        {% endif %}
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">ID</th>
                            <th>Facebook </th>
                            <th>Instagram </th>
                            <th>Twitter </th>
                            <th>Whatsapp </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in instances %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ link.facebook_link }}">{{ link.facebook_link }}</a></td>
                            <td><a href="{{ link.instagram_link }}">{{ link.instagram_link }}</a></td>
                            <td><a href="{{ link.twitter_link }}">{{ link.twitter_link }}</a></td>
                            <td><a href="{{ link.whatsapp_link }}">{{ link.whatsapp_link }}</a></td>
                            <td class="text-right">
                                <a href="{% url 'web:edit_social_link' pk=link.pk %}"><i
                                        class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ link.pk }}" class="action-button remove"
                                    href="{% url 'web:delete_social_link' pk=link.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock %}