<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load main_template_tags %}

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/invoice_css/style.css' %}" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/script.js" type="text/javascript"></script> -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/invoice_js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/invoice_js/script.js' %}" type="text/javascript"></script>
</head>

<body>
    <section id="gst-tax-invoice">
        <section class="outer-module">
            <div class="top-module">
                <div class="left">
                    {% if finance_manager %}
                    <h1><img src="{% static 'img/hghgh.jpg' %}" alt="image" /></h1>
                    {% endif %}
                    <h1 class="shop_name">{{instance.franchisee.shop_name}}</h1>
                </div>
                <div class="right">
                    <div class="box">
                        <h1>Tax Invoice</h1>
                    </div>
                </div>
                <br class="clear" />
            </div>
            <div class="invoice">
                <table>
                    <tr class="head">
                        <th colspan="16">TAX INVOICE</th>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="11">
                            <p class="bld">Sold By</p>
                            <p class="bld">4AN Online Supermarket</p>
                        </td>
                        <td colspan="2">Order ID.</td>
                        <td colspan="2">{{instance.order_id}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Invoice Date</td>
                        <td colspan="2">{{date}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Payment Method</td>
                        {% if instance.payment_method == "cash_on_delivary" %}
                        <td colspan="2">Cash On Delivery</td>
                        {% elif instance.payment_method == "online_payment" %}
                        <td colspan="2">Online Payement</td>
                        {% endif %}
                    </tr>
                    <tr class="head">
                        <th colspan="7">Billing Address</th>
                        <th colspan="9">Shipping Address</th>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">Customer Name : {{instance.customer.name}}</td>
                        <td class="bb-none" colspan="9">Customer Name : {{instance.billing_address.name}}</td>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">Building No/Name : {{instance.customer.address}}</td>
                        <td class="bb-none" colspan="9">Building No/Name : {{instance.billing_address.address}}</td>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">Email : {{instance.customer.email}}</td>
                        <td class="bb-none" colspan="9">City : {{instance.billing_address.city}}</td>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">Phone : {{instance.customer.phone}}</td>
                        <td class="bb-none" colspan="9">Landmark : {{instance.billing_address.landmark}}</td>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">Place : {{instance.customer.place}}</td>
                        <td class="bb-none" colspan="9">State : {{instance.billing_address.state}}</td>
                    </tr>
                    <tr>
                        <td class="bb-none" colspan="7">State : {{instance.customer.state}}</td>
                        <td class="bb-none" colspan="9">PIN : {{instance.billing_address.pincode}}</td>
                    </tr>
                    <tr>
                        <td colspan="7">State Code : {{instance.customer.state_code}}</td>
                        <td colspan="9">Phone : {{instance.customer.phone}}</td>
                    </tr>
                    {% if items %}
                    <tr class="sub-title t-a-c">
                        <th class="bld" colspan="2" rowspan="1">Sl No.</th>
                        <th class="bld" colspan="2" rowspan="1">Items</th>
                        <th class="bld" colspan="2" rowspan="1">Variant</th>
                        <th class="bld" colspan="2" rowspan="1">QTY</th>
                        <th class="bld" colspan="2" rowspan="1">MRP</th>
                        <th class="bld" colspan="2" rowspan="1">Unit <br>Price</th>
                        <th class="bld" colspan="2" rowspan="1">Discount</th>
                        <th class="bld" colspan="2" rowspan="1">Subtotal</th>
                        <!-- <th class="bld" colspan="2">Cess</th> -->
                    </tr>
                    {% for i in items %}
                    <tr class="final_bill">
                        <td colspan="2">{{ forloop.counter }}</td>
                        <td colspan="2">{{i.product}}</td>
                        {% if i.products_varient %}
                        <td colspan="2">{{i.products_varient}}</td>
                        {% else %}
                        <td colspan="2">{{i.product.unit_type}}</td>
                        {% endif %}
                        <td class="qty" colspan="2">{{i.qty}}</td>
                        {% if i.products_varient %}
                        <td class="mrp" colspan="2">{{i.products_varient.mrp}}</td>
                        {% else %}
                        <td class="mrp" colspan="2">{{i.product.mrp}}</td>
                        {% endif %}
                        <td class="unit_price" colspan="2">{{i.price }}</td>
                        <td class="discount" id="discount" colspan="2">{{i.discount_amount}}</td>
                        <td id="subtotal" colspan="2">{{i.subtotal}}</td>
                        <!-- <td>{{i.product_cess}}</td>
						<td class="cess">{{i.cess}}</td> -->
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">Total MRP:</td>
                        <td class="total_mrp" colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">Discount:</td>
                        <td class="total_dicount" colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">Total:</td>
                        <td class="total_amount" colspan="2">{{instance.total_amount}}</td>
                    </tr>
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">Delivery Charge:</td>
                        <td class="delivery_charge" colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">Grand Total:</td>
                        <td class="grand_total" colspan="2">{{instance.amount_payable}}</td>
                    </tr>
                    <tr>
                        <td colspan="12"></td>
                        <td class="t-a-r" colspan="2">You Saved Rs:</td>
                        <td class="total_dicount" colspan="2"></td>
                    </tr>
                </table>
            </div>
            <div class="lower-module">
                <div class="inner-module one">
                    <div class="left">
                        <p>Bank:- <span>*** Bank</span></p>
                        <p>Branch:- <span>*****</span></p>
                        <p>A/C No.:- <span>*****</span></p>
                        <p>IFSC Code:- <span>***</span></p>
                    </div>
                    <div class="right">
                        <h3>4AN Online Supermarket</h3>
                        <div class="sign"></div>
                        <p>(Authorized Signatory)</p>
                    </div>
                    <br class="clear" />
                    {% if finance_manager %}
                    <p>Customer Support Phone: <span>+*****</span> | Email: <span>
                            sales@****</span></p>
                    {% endif %}
                    <p>Customer Support Email: <span>*****</span></p>
                </div>
                <div class="inner-module">
                    <p><span>Cash on Delivery:</span> please pay remaining amount to the sales representative before
                        unloading the materials.</p>
                    <p><span>Return Policy:</span> We try to deliver perfectly each and every time. But in case you need
                        to return the item, please do so with the original packing, tags & invoice without which it will
                        be really difficult for us to act on your request, please help us in helping you.</p>
                    <p><span>If Repurchasing any:</span> please contact our company we always ready to serve you at best
                        price.</p>
                </div>
            </div>
            <p class="p">* Terms & Conditions apply</p>
        </section>
    </section>
</body>
<style type="text/css">
h1.shop_name {
    font-size: 22pt;
    text-transform: uppercase;
    color: #622424;
    text-align: center;
    font-weight: bold;
}
</style>
<script>
    $(document).ready(function () {
        var total_dicount = 0;
        var grand_mrp = 0;
        $('tr.final_bill').each(function(){
            var mrp = $(this).find('td.mrp').text();
            var price = $(this).find('td.unit_price').text();
            var dicount = parseFloat(mrp)  - parseFloat(price);
            $(this).find('.discount').text(dicount);
            total_dicount += dicount;
            var qty = $(this).find('td.qty').text();
            var mrp_total = parseFloat(qty) * parseFloat(mrp);
            grand_mrp += mrp_total;

        });
        $('.total_dicount').html(total_dicount);
        $('.total_mrp').html(grand_mrp);

        var total_amount = $('td.total_amount').text();
        var grand_total = $('td.grand_total').text();
        var delivery_charge = parseFloat(grand_total) - parseFloat(total_amount);
        $('.delivery_charge').html(delivery_charge);
    })
</script>
</html>