{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
      <div class="row">
         <div class="col-sm-6">
            <h3 class="page-title">{{title|title}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">{{title|title}}</li>
            </ul>
         </div>
         <div class="col-auto float-right ml-auto">
            <h3 class="ah-label hidden-xs palette-White text">ID - {{instance.auto_id}}</h3>

            <ul class="personal-info row">
               <li class="col">
                  <a title="Create new Invoice Prefix" href="{% url 'finance:create_invoice_prefix' %}" class=" text-white edit-icon">
                     <i style="color: black" class="las la-plus"></i>
                  </a>
               </li>

               {% if instance.creator == request.user %}

               <li class="col">
                  <a title="Edit Invoice Prefix" href="{% url 'finance:edit_invoice_prefix' pk=instance.pk %}" class="edit-icon">
                     <i class="las la-pen"></i>
                  </a>
               </li>
               <li class="col">
                  <a title="Delete Invoice Prefix" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}"
                     data-title="Are you sure?" href="{% url 'finance:delete_invoice_prefix' pk=instance.pk %}"
                     class="action-button redirect delete-icon edit-icon">
                     <i class="las la-trash-alt"></i>
                  </a>
               </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <!-- /Page Header -->


   <div class="tab-content">
      <!-- Profile Info Tab -->
      <div id="emp_profile" class="pro-overview tab-pane fade show active">
         <div class="row">
            <div class=" col-6">
               <div class="card-header">
                  <h5>Basic Info <small></small></h5>
               </div>
               <div class="card-body">



                  <div class="list-group lg-alt c-overflow">
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Retail Sale</div>
                           <small class="lgi-text">{{instance.retail_sale}}</small>
                        </div>
                     </div>
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Order</div>
                           <small class="lgi-text">{{instance.order}}</small>
                        </div>
                     </div>
                     <div class="list-group-item media ">
                        <div class="media-body">
                           <div class="lgi-heading">Purchase</div>
                           <small class="lgi-text">{{instance.purchase}}</small>
                        </div>
                     </div>




                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Updater </div>
                           <small class="lgi-text">{{instance.updater}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Creator </div>
                           <small class="lgi-text">{{instance.creator}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Date Created </div>
                           <small class="lgi-text">{{instance.date_added|date:"d/m/Y h:i A"}}</small>
                        </div>
                     </div>

                     <div class="list-group-item media">
                        <div class="media-body">
                           <div class="lgi-heading">Date Updated </div>
                           <small class="lgi-text">{{instance.date_updated|date:"d/m/Y h:i A"}}</small>
                        </div>
                     </div>

                  </div>

               </div>

            </div>

         </div>
      </div>
      <!-- /Profile Info Tab -->


   </div>
</div>
<!-- /Page Content -->

{% endblock %}