{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <form action="{{url}}" class="ajax redirect" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.voucher_code.id_for_label }}">
                                        {{ form.voucher_code.label }}

                                        {% if form.voucher_code.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.voucher_code }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">
                                        {{ form.title.label }}

                                        {% if form.title.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">
                                        {{ form.description.label }}

                                        {% if form.description.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.description }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="{{ form.start_time.id_for_label }}">
                                        {{ form.start_time.label }}

                                        {% if form.start_time.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.start_time }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="{{ form.end_time.id_for_label }}">
                                        {{ form.end_time.label }}

                                        {% if form.end_time.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.end_time }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="{{ form.is_limited_once.id_for_label }}">
                                        {{ form.is_limited_once.label }}

                                        {% if form.is_limited_once.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    <br>
                                    {{ form.is_limited_once }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="{{ form.is_expired.id_for_label }}">
                                        {{ form.is_expired.label }}

                                        {% if form.is_expired.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    <br>
                                    {{ form.is_expired }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.upto_limit.id_for_label }}">
                                        {{ form.upto_limit.label }}

                                        {% if form.upto_limit.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.upto_limit }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.minimum_order_amount.id_for_label }}">
                                        {{ form.minimum_order_amount.label }}

                                        {% if form.minimum_order_amount.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.minimum_order_amount }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.percentage.id_for_label }}">
                                        {{ form.percentage.label }}

                                        {% if form.percentage.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.percentage }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="{{ form.voucher_type.id_for_label }}">
                                        {{ form.voucher_type.label }}

                                        {% if form.voucher_type.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.voucher_type }}
                                </div>
                            </div>
                            <div class="col-md-3 customer-div">
                                <div class="form-group">
                                    <label for="{{ form.customer.id_for_label }}">
                                        {{ form.customer.label }}

                                        {% if form.customer.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.customer }}
                                </div>
                            </div>

                            <div class="col-md-3 product-div">
                                <div class="form-group">
                                    <label for="{{ form.product.id_for_label }}">
                                        {{ form.product.label }}

                                        {% if form.product.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.product }}
                                </div>
                            </div>

                            <div class="col-md-3 product_variant-div">
                                <div class="form-group">
                                    <label for="{{ form.product_variant.id_for_label }}">
                                        {{ form.product_variant.label }}

                                        {% if form.product_variant.field.required %}
                                        <small class="star text-danger">*</small>
                                        {% endif %}
                                    </label>
                                    {{ form.product_variant }}
                                </div>
                            </div>

                        </div>
                        <div class="text-right">
                            <button class="btn btn-soft-primary btn-sm" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block static %}
{{ form.media }}
<script>
    function VoucherTypeChanged(){
        let voucher_type = $('#id_voucher_type').val();
        $('.customer-div, .product_variant-div, .product-div').hide()

        if(voucher_type == 10){
            console.log('all');
        }
        else if(voucher_type == 20){
            $('.customer-div').show()
        }
        else if(voucher_type == 30){
            $('.product-div').show()
        }
        else if(voucher_type == 40){
            $('.product_variant-div').show()
        }
    }

    $('#id_voucher_type').change(function (){
        VoucherTypeChanged()
    });

    $(document).ready(function(){
        VoucherTypeChanged()
    })
    $(document).on('input', '#id_voucher_code', function () {
    var inputValue = $(this).val();
    var sanitizedValue = inputValue.replace(/[^a-zA-Z0-9\s]/g, ''); // Allow alphabets, numbers, and whitespaces
    $(this).val(sanitizedValue);
});

</script>
{% endblock %}
