{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="content container-fluid">
   <!-- Page Header -->
   <div class="page-header">
      <div class="row">
         <div class="col-sm-6">
            <h3 class="page-title">{{title}}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">{{title}}</li>
            </ul>
         </div>
         <div class="col-auto float-right ml-auto">
            <h3 class="ah-label hidden-xs palette-White text">{{instance.auto_id}} - {{instance.voucher_code}}</h3>

            <ul class="personal-info row">
               <li class="col">
                  <a title="Create new Voucher" href="{% url 'offers:create_voucher' %}" class="btn btn-sm btn-soft-primary">
                     <i class="las la-plus"></i>
                  </a>
               </li>

               <li class="col">
                  <a title="Edit Voucher" href="{% url 'offers:edit_voucher' pk=instance.pk %}" class="btn btn-sm btn-soft-warning">
                     <i class="las la-pen"></i>
                  </a>
               </li>
               <li class="col">
                  <a title="Delete Voucher" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}"
                     data-title="Are you sure?" href="{% url 'offers:delete_voucher' pk=instance.pk %}"
                     class="action-button redirect btn btn-sm btn-soft-danger">
                     <i class="las la-trash-alt"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <!-- /Page Header -->


   <div class="tab-content">
      <!-- Profile Info Tab -->
      <div id="emp_profile" class="pro-overview tab-pane fade show active">
         <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Voucher Info <small></small></h4>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Code</div>
                                    <small class="lgi-text">{{instance.voucher_code}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Title</div>
                                    <small class="lgi-text">{{instance.title}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">Description</div>
                                 <small class="lgi-text">{{instance.description}}</small>
                             </div>
                         </div>

                          <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">start Time</div>
                                 <small class="lgi-text">{{instance.start_time}}</small>
                             </div>
                         </div>

                          <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">End Time</div>
                                 <small class="lgi-text">{{instance.end_time}}</small>
                             </div>
                         </div>

                          <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">Voucher amount receivable Upto </div>
                                 <small class="lgi-text">₹ {{instance.upto_limit}}</small>
                             </div>
                         </div>

                          <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">Minimum Order Amount</div>
                                 <small class="lgi-text">₹  {{instance.minimum_order_amount}}</small>
                             </div>
                         </div>

                          <div class="list-group-item media">
                             <div class="media-body">
                                 <div class="lgi-heading">Percentage</div>
                                 <small class="lgi-text">{{instance.percentage}}%</small>
                             </div>
                         </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Availability <small></small></h4>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">

                            <div class="list-group-item media ">
                                <div class="media-body">
                                    <div class="lgi-heading">Availability </div>
                                    <small class="lgi-text">{{instance.get_voucher_type_display}}</small>
                                </div>
                            </div>

                            {% if instance.voucher_type == 20 %}
                            <div class="list-group-item media ">
                                <div class="media-body">
                                    <div class="lgi-heading">Customer </div>
                                    <a href="{% url 'customers:customer' pk=instance.customer_id %}" class="lgi-text text-primary">{{instance.customer}}</a>
                                </div>
                            </div>
                            {% elif instance.voucher_type == 30 %}
                            <div class="list-group-item media ">
                                <div class="media-body">
                                    <div class="lgi-heading">Product </div>
                                    <a href="{% url 'products:product' pk=instance.product_id %}" class="lgi-text text-primary">{{instance.product}}</a>
                                </div>
                            </div>
                            {% elif instance.voucher_type == 40 %}
                            <div class="list-group-item media ">
                                <div class="media-body">
                                    <div class="lgi-heading">Product Variant </div>
                                    <a href="{% url 'products:view_variant' pk=instance.product_variant_id %}" class="lgi-text text-primary">{{instance.product_variant}}</a>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Used Customers <small></small></h5>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">

                            {% if instance.used_users.all %}
                            {% for user in instance.used_users.all %}
                            <div class="list-group-item media ">
                                <div class="media-body">
                                    <a href="{% url 'customers:customer' pk=user.customer.pk %}" class="lgi-text text-primary">{{user.customer}}</a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="list-group-item media">
                               <div class="media-body">
                                   <div class="lgi-heading">No one used this code yet</div>
                               </div>
                           </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Basic Info <small></small></h4>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">

                            <div class="list-group-item media ">
                                <div class="media-body">
                                <div class="lgi-heading">Creator </div>
                                <small class="lgi-text">{{instance.creator}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media ">
                                <div class="media-body">
                                <div class="lgi-heading">Date Added </div>
                                <small class="lgi-text">{{instance.date_added|date:"d, M Y P"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media ">
                                <div class="media-body">
                                <div class="lgi-heading">Updater </div>
                                <small class="lgi-text">{{instance.updater}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media ">
                                <div class="media-body">
                                <div class="lgi-heading">Date Updated </div>
                                <small class="lgi-text">{{instance.date_updated|date:"d, M Y P"}}</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

      </div>
      <!-- /Profile Info Tab -->


   </div>
</div>
<!-- /Page Content -->

{% endblock %}