{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">{{title|title}}</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">{{title|title}}</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </div>
                    <!--end col-->
                    <div class="col-auto float-right ml-auto">
                        <a title="Filter" data-toggle="modal" data-target="#modal_aside_right" href="javascript:void(0)"
                        class="btn btn-soft-primary btn-sm add-btn mt-1">Filter
                        </a>
                    </div>
                    <div class="col-auto align-self-center">
                        <a class=" btn btn-sm btn-soft-primary" href="{% url 'offers:create_offer' %}"
                            role="button"><i class="fas fa-plus mr-2"></i>New Offers</a>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">Sl No.</th>
                            <th style="width: 30px;">ID</th>
                            <th>Warehouse </th>
                            <th>Offer Type</th>
                            <th>Offer Item</th>
                            <th>Offer Percentage </th>
                            <th>Start Time </th>
                            <th>End Time </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}
                        {% for offer in instances %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ offer.auto_id }}</td>
                            <td>{{ offer.warehouse }}</td>
                            <td>{{ offer.get_offer_type_display }}</td>
                            {% if offer.product_variant %}
                                <td>{{ offer.product_variant }}</td>
                            {% elif offer.category%}
                                <td>{{ offer.category }}</td>
                            {% else %}
                                <td>{{ offer.subcategory }}</td>
                            {% endif %}
                            <td>{{ offer.offer_percentage }}</td>
                            <td>{{ offer.start_time }}</td>
                            <td>{{ offer.end_time }}</td>
                            <td class="text-right">

                                <a href="{% url 'offers:offer' pk=offer.pk %}"><i
                                        class="las la-eye text-info font-18"></i></a>
                                <a href="{% url 'offers:edit_offer' pk=offer.pk %}"><i
                                        class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ offer.pk }}" class="reload action-button remove"
                                    href="{% url 'offers:delete_offer' pk=offer.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class="las la-trash-alt text-danger font-18"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% get_pages %}
                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get" action="{% url 'offers:offers' %}">
                <div class="modal-body d-flex justify-content-between pt-0 pb-0">
                    <div class="form-group col-5 px-0 fg-line">
                        <label class="bmd-label-floating">Date</label>
                        <input type="date" name="offer_date" value="{% if filter_data.offer_date %}{{filter_data.offer_date}}{% endif %}" class="form-control">
                    </div>
                    <!-- <div class="form-group col-5 px-0 fg-line">
                        <label class="bmd-label-floating">To date</label>
                        <input type="date" name="to_date" value="{% if filter_data.to_date %}{{filter_data.to_date}}{% endif %}" class="form-control">
                    </div> -->
                </div>

                <!-- <div class="modal-body pt-0 pb-0">
                    <div class="form-group fg-line">
                        <label class="bmd-label-floating">Voucher Number</label>
                        <input type="text" name="voucher_number" value="{% if filter_data.voucher_number %}{{filter_data.voucher_number}}{% endif %}" class="form-control">
                    </div>
                </div> -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div> <!-- modal-bialog .// -->
</div> <!-- modal.// -->

{% endblock %}
