{% extends 'base.html' %}
{% block content %}



<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{title|title}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{title|title}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a title="Filter" data-toggle="modal" data-target="#modal_aside_right" href="javascript:void(0)"
                    class="btn btn-sm btn-soft-primary add-btn">Filter</a>
            </div>
            <div class="col-auto float-right ml-auto">

                <a class=" btn btn-sm btn-soft-primary" href="{% url 'sales:create_sale_return' %}" role="button"><i
                        class="fas fa-plus mr-2"></i>Add Sale Return</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable-">
                    <thead>
                        <tr>
                            <th style="width:20px;"></th>
                            <th>Sl.No</th>
                            <th>Id</th>
                            <th>Sale Id</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <!-- <th>Sale id</th> -->
                            <th>Returnable Amount</th>
                            <th>Cancelled</th>
                            <!-- <th>Returnable Amount</th> -->
                            <th data-column-id="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 20 instances %}
                        {% for instance in instances %}
                        <tr class="{% if instance.is_updated %}text-danger{% endif %}">
                            <td style="width:20px;">

                                <!-- <div class="form-group row">
                                    <div class="col-sm-10 ml-auto">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="delete_item" value="{{instance.pk}}"
                                                class="custom-control-input" id="horizontalCheckbox"
                                                data-parsley-multiple="groups" data-parsley-mincheck="2">
                                            <label class="custom-control-label" for="horizontalCheckbox"></label>
                                        </div>
                                    </div>
                                </div> -->
                            </td>
                            <td><a href="{% url 'sales:sale_return' pk=instance.pk %}">{{forloop.counter}}</a></td>
                            <td><a href="{% url 'sales:sale_return' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                            <td>{{ instance.sale.auto_id }}</td>
                            <td>{{instance.time|date:"d/m/y"}}</td>
                            <td>{{instance.customer}}</td>
                            <!-- <td>{{instance.sale_item..sale.sale_id}}</td> -->
                            <td>{{instance.amount_returned}}</td>
                            <!-- <td>{{instance.returnable_amount}}</td> -->
                            <td class="text-danger">{{ instance.is_deleted|yesno:"Cancelled, " }}</td>



                            <td class="text-right noExl">


                                {% if not instance.is_deleted %}
                                <a href="{% url 'sales:edit_sale_return' pk=instance.pk %}"><i
                                    class="las la-pen text-info font-18"></i></a>
                                <a data-id="{{ instance.pk }}" class="reload action-button remove "
                                    href="{% url 'sales:delete_sale_return' pk=instance.pk %}"
                                    data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i
                                        class=" las la-trash-alt text-danger font-18"></i></a>
                                {% endif %}
                                <a href="{% url 'sales:sale_return' pk=instance.pk %}"><i
                                    class="las la-eye text-info font-18"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% get_pages %}
                <div class="clearfix"></div>
                <div class="row pagi my-3">
                    <div class="col-sm-6 col-xs-6 text-left my-pagina">{% show_pages %}</div>
                    <div class="col-sm-6 col-xs-6 text-right tot my-pagination align-items-center">
                        <div class="m-t-10">
                            Showing {{title}}
                            <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- modal -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get" action="{% url 'sales:sale_returns' %}">
                <div class="modal-body pt-3 pb-0">
                    <div class="modal-body col-sm-12 pt-0 pb-0">
                        <div class="form-group fg-line">
                            <label class="bmd-label-floating">Search</label>
                            <input name="q" value="{% if filter_data.query %}{{filter_data.query}}{% endif %}"
                                type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-body col-sm-12 pt-0 pb-0">
                        <div class="form-group fg-line">
                            <label class="bmd-label-floating">On date</label>
                            <input type="date" name="on_date"
                                value="{% if filter_data.on_date %}{{filter_data.on_date}}{% endif %}"
                                class=" form-control">
                        </div>
                    </div>
                    <div class="modal-body d-flex justify-content-between col-sm-12 pt-0 pb-0">
                        <div class="form-group col-5 px-0 fg-line">
                            <label class="bmd-label-floating">From date</label>
                            <input type="date" name="from_date"
                                value="{% if filter_data.from_date %}{{filter_data.from_date}}{% endif %}"
                                class="form-control">
                        </div>
                        <div class="form-group col-5 px-0 fg-line">
                            <label class="bmd-label-floating">To date</label>
                            <input type="date" name="to_date"
                                value="{% if filter_data.to_date %}{{filter_data.to_date}}{% endif %}"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div> <!-- modal-bialog .// -->
</div> <!-- modal.// -->
<!-- /Page Wrapper -->
{% endblock %}
{% block static%}
<script>
    $(document).ready(function() {
    $('.delete-sale-return').on('click', function(e) {
        e.preventDefault(); // Prevent default behavior of the anchor tag

        var deleteUrl = $(this).attr('href'); // Get the delete URL from the button's href attribute

        // Send AJAX request to delete the sale return
        $.ajax({
            url: deleteUrl,
            type: 'DELETE', // or 'POST' depending on your implementation
            success: function(result) {
                // Reload the page after successful deletion
                location.reload();
            },
            error: function(xhr, status, error) {
                // Handle error if necessary
            }
        });
    });
});
</script>
{% endblock %}